html, body {
  font-family: 'Trade Gothic W01 Light', sans-serif;
  color: blue;
  font-size: 16px;
  width: 100%;
  height: 100%;
  max-height: 1300px; }

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: blue; }

a:hover {
  text-decoration: none;
  color: blue; }

header, footer {
  text-transform: uppercase;
  padding-top: 2em;
  padding-bottom: 2em;
  position: absolute;
  width: 100%;
  z-index: 1; }
  @media (max-width: 767px) {
    header, footer {
      position: relative;
      font-size: .8em; } }
  header a, header a:active, header a:hover, header a:visited, footer a, footer a:active, footer a:hover, footer a:visited {
    font-family: 'Trade Gothic W01 Bold 2', sans-serif; }
    header a li span, header a:active li span, header a:hover li span, header a:visited li span, footer a li span, footer a:active li span, footer a:hover li span, footer a:visited li span {
      border-bottom: .05em solid blue; }
    header a.top-logo, header a:active.top-logo, header a:hover.top-logo, header a:visited.top-logo, footer a.top-logo, footer a:active.top-logo, footer a:hover.top-logo, footer a:visited.top-logo {
      position: fixed;
      top: 2em;
      left: 2em;
      border-bottom: none; }
      header a.top-logo img, header a:active.top-logo img, header a:hover.top-logo img, header a:visited.top-logo img, footer a.top-logo img, footer a:active.top-logo img, footer a:hover.top-logo img, footer a:visited.top-logo img {
        width: 6em; }
    @media (max-width: 767px) {
      header a, header a:active, header a:hover, header a:visited, footer a, footer a:active, footer a:hover, footer a:visited {
        margin-bottom: 1em;
        display: block; }
        header a.top-logo, header a:active.top-logo, header a:hover.top-logo, header a:visited.top-logo, footer a.top-logo, footer a:active.top-logo, footer a:hover.top-logo, footer a:visited.top-logo {
          position: relative;
          top: 0;
          left: 0;
          width: 50%; } }
  header ul, footer ul {
    padding-left: 0;
    margin-bottom: 1em; }
    header ul li, footer ul li {
      list-style: none;
      line-height: 1.3em; }
      header ul li.heading, footer ul li.heading {
        font-family: "Trade Gothic W01 Bold 2", sans-serif; }
  header .hamburger-btn, footer .hamburger-btn {
    position: fixed;
    width: 1.6875em;
    height: 1.1em;
    right: 2em;
    top: 2em;
    cursor: pointer;
    z-index: 10; }
    @media (max-width: 767px) {
      header .hamburger-btn, footer .hamburger-btn {
        right: 15px; } }
    header .hamburger-btn .bar, footer .hamburger-btn .bar {
      width: 100%;
      height: 2px;
      background: blue;
      position: absolute; }
      header .hamburger-btn .bar.middle-bar, footer .hamburger-btn .bar.middle-bar {
        top: 50%;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      header .hamburger-btn .bar.bottom-bar, footer .hamburger-btn .bar.bottom-bar {
        bottom: 0; }

footer.container-fluid {
  background: blue;
  color: #fff;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 2em; }
  footer.container-fluid a, footer.container-fluid a:active, footer.container-fluid a:hover, footer.container-fluid a:visited {
    color: #fff;
    position: static; }
    footer.container-fluid a span, footer.container-fluid a:active span, footer.container-fluid a:hover span, footer.container-fluid a:visited span {
      border-bottom: .05em solid white; }
  footer.container-fluid .footer-extra-info {
    margin-top: 10em; }
  footer.container-fluid .footer-info, footer.container-fluid .footer-info-wide {
    float: left;
    padding-right: 5em;
    margin-bottom: 2em; }
    footer.container-fluid .footer-info h5, footer.container-fluid .footer-info-wide h5 {
      font-size: 13px;
      text-transform: none; }
    footer.container-fluid .footer-info span, footer.container-fluid .footer-info-wide span {
      font-size: 8px;
      display: inline-block;
      width: 100%;
      max-width: 128px; }
      footer.container-fluid .footer-info span.large, footer.container-fluid .footer-info-wide span.large {
        font-size: 13px;
        max-width: 238px; }
    footer.container-fluid .footer-info img, footer.container-fluid .footer-info-wide img {
      padding-bottom: 1em;
      vertical-align: top;
      padding-right: 1em; }
      footer.container-fluid .footer-info img.less-padding, footer.container-fluid .footer-info-wide img.less-padding {
        padding-right: 3px; }
    footer.container-fluid .footer-info a, footer.container-fluid .footer-info a:active, footer.container-fluid .footer-info a:hover, footer.container-fluid .footer-info a:visited, footer.container-fluid .footer-info-wide a, footer.container-fluid .footer-info-wide a:active, footer.container-fluid .footer-info-wide a:hover, footer.container-fluid .footer-info-wide a:visited {
      font-family: "Trade Gothic W01 Light"; }
      footer.container-fluid .footer-info a span, footer.container-fluid .footer-info a:active span, footer.container-fluid .footer-info a:hover span, footer.container-fluid .footer-info a:visited span, footer.container-fluid .footer-info-wide a span, footer.container-fluid .footer-info-wide a:active span, footer.container-fluid .footer-info-wide a:hover span, footer.container-fluid .footer-info-wide a:visited span {
        border-bottom: none; }
  footer.container-fluid .footer-info-wide {
    width: 100%; }

.video-overlay {
  background: white;
  z-index: 11;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; }
  .video-overlay video {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: url("../media/images/pause_cursor.svg") 40 40, auto; }
    .video-overlay video.paused {
      cursor: url("../media/images/play_cursor.svg") 40 40, auto; }
  .video-overlay .close-video {
    cursor: pointer;
    top: 2em;
    right: 2em;
    position: fixed;
    width: 1.6875em;
    height: 1.1em;
    z-index: 12; }
    @media (max-width: 767px) {
      .video-overlay .close-video {
        right: 15px; } }
    .video-overlay .close-video .bar {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background: blue;
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
      .video-overlay .close-video .bar.right-bar {
        -moz-transform: translate(-50%, -50%) rotate(-45deg);
        -o-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg); }

a .blinking-cursor {
  display: none;
  -webkit-animation: .5s blink step-end infinite;
  -moz-animation: .5s blink step-end infinite;
  -ms-animation: .5s blink step-end infinite;
  -o-animation: .5s blink step-end infinite;
  animation: .5s blink step-end infinite; }

a:hover .blinking-cursor {
  display: inline; }

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: blue;
  z-index: 10;
  padding: 2em;
  overflow-y: auto; }
  .menu::-webkit-scrollbar-track {
    background-color: blue; }
  .menu::-webkit-scrollbar {
    width: 14px;
    background-color: blue; }
  .menu::-webkit-scrollbar-thumb {
    background-color: #fff;
    border: none;
    border: 4px solid blue; }
  @media (max-width: 767px) {
    .menu {
      padding: 2em 15px; } }
  .menu a, .menu a:active, .menu a:hover, .menu a:visited {
    color: white; }
    .menu a.menu-logo, .menu a:active.menu-logo, .menu a:hover.menu-logo, .menu a:visited.menu-logo {
      font-family: 'Trade Gothic W01 Bold 2', sans-serif;
      border-bottom: .05em solid blue;
      display: block;
      margin-bottom: 6em;
      line-height: 1.3em;
      width: 50%; }
      .menu a.menu-logo li span, .menu a:active.menu-logo li span, .menu a:hover.menu-logo li span, .menu a:visited.menu-logo li span {
        border-bottom: .05em solid white; }
  .menu ul {
    padding-left: 0;
    text-transform: uppercase; }
    .menu ul li {
      list-style: none; }
    .menu ul a {
      font-size: 2em;
      line-height: 1.1428em; }
      @media (max-width: 767px) {
        .menu ul a {
          font-size: 1.4em; } }
    .menu ul.main-links {
      float: left;
      width: 300px; }
    .menu ul.main-links a {
      line-height: 1.2em; }
      @media (max-width: 767px) {
        .menu ul.main-links a {
          line-height: 1.2em; } }
  .menu .sub-links {
    width: 400px;
    color: white;
    float: left;
    font-size: .8em; }
    @media (max-width: 767px) {
      .menu .sub-links {
        width: 100%; } }
    .menu .sub-links h5 {
      font-size: 1em;
      display: inline-block;
      border-bottom: 0.05em solid white;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        .menu .sub-links h5 {
          margin-top: 3em; } }
    .menu .sub-links a {
      font-size: .8em;
      color: #fff;
      display: block;
      width: 100%;
      max-width: 300px;
      border: 1px solid white;
      padding: .5em;
      text-align: center;
      margin-top: 2em; }
      .menu .sub-links a:hover {
        background: white;
        color: blue; }
  .menu .close-menu {
    cursor: pointer;
    top: 2em;
    right: 2em;
    position: fixed;
    width: 1.6875em;
    height: 1.1em;
    z-index: 10; }
    @media (max-width: 767px) {
      .menu .close-menu {
        right: 20px; } }
    .menu .close-menu .bar {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background: white;
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
      .menu .close-menu .bar.right-bar {
        -moz-transform: translate(-50%, -50%) rotate(-45deg);
        -o-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
        -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        transform: translate(-50%, -50%) rotate(-45deg); }

main {
  width: 100%;
  height: 100%;
  position: relative; }

.glitch-text {
  height: 100%;
  position: relative; }
  @media (max-width: 767px) {
    .glitch-text {
      height: auto;
      font-size: 1em;
      padding-top: 2em;
      padding-bottom: 6em; } }
  .glitch-text .row, .glitch-text .glitch-text-col {
    height: 100%;
    position: relative; }
  .glitch-text h2 {
    position: absolute;
    width: 27em;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2em;
    margin: 0; }
    @media (max-width: 993px) {
      .glitch-text h2 {
        width: 13em; } }
    @media (max-width: 767px) {
      .glitch-text h2 {
        position: static;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.4em; } }
    .glitch-text h2 p {
      margin: 0;
      line-height: 1.35em;
      cursor: pointer;
      position: relative; }
    .glitch-text h2 #cursor {
      position: absolute;
      z-index: 1; }
      .glitch-text h2 #cursor img {
        width: 1em; }
    .glitch-text h2 span {
      position: relative;
      cursor: pointer; }
      .glitch-text h2 span:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background: blue;
        left: 0;
        bottom: 0;
        display: none; }
      .glitch-text h2 span.hovered {
        font-family: 'Trade Gothic W01 Bold 2', sans-serif; }

.video-container {
  position: relative; }
  .video-container video {
    width: 100%;
    cursor: url("../media/images/play_cursor.svg") 40 40, auto; }
    @media (max-width: 993px) {
      .video-container video {
        cursor: pointer; }
        .video-container video.paused {
          cursor: pointer; } }
    .video-container video::-webkit-media-controls-panel {
      display: none !important;
      -webkit-appearance: none; }
    .video-container video::--webkit-media-controls-play-button {
      display: none !important;
      -webkit-appearance: none; }
    .video-container video::-webkit-media-controls-start-playback-button {
      display: none !important;
      -webkit-appearance: none; }
  .video-container .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.about-text {
  width: 27em;
  font-size: 2em;
  margin: 6em auto 6em; }
  .about-text p {
    line-height: 1.25em;
    margin: 0;
    font-size: 1.2em; }
    @media (max-width: 993px) {
      .about-text p {
        font-size: 1em; } }
  @media (max-width: 993px) {
    .about-text {
      width: 20em; } }
  @media (max-width: 767px) {
    .about-text {
      margin: 3em 0;
      font-size: 1.4em;
      width: 100%;
      padding: 0 15px; } }

.sg-logo, .trinity-logo {
  position: absolute;
  bottom: 2em;
  left: 2em;
  display: block;
  width: 6em;
  -moz-transition: 0.2s all ease;
  -o-transition: 0.2s all ease;
  -ms-transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease; }
  .sg-logo img, .trinity-logo img {
    width: 100%; }
  @media (max-width: 767px) {
    .sg-logo, .trinity-logo {
      position: static;
      margin-top: 2em;
      float: left; } }

.trinity-logo {
  left: auto;
  right: 2em; }
  @media (max-width: 767px) {
    .trinity-logo {
      float: right; } }

.exhibits {
  background: url("../media/images/dotted_bg.svg");
  height: 320em;
  overflow: hidden;
  padding-top: 6em; }
  @media (max-width: 767px) {
    .exhibits {
      padding-top: 3em;
      padding-bottom: 3em;
      height: auto;
      overflow: none; } }
  .exhibits h2 {
    font-size: 4em;
    text-transform: uppercase;
    border-bottom: .05em solid blue;
    margin-bottom: 1.8em;
    background: white;
    display: inline-block; }
    @media (max-width: 767px) {
      .exhibits h2 {
        font-size: 2.4em; } }
  .exhibits .exhibits-container {
    height: 100%;
    position: relative; }
  .exhibits .exhibit {
    position: absolute;
    z-index: 0; }
    .exhibits .exhibit.hovered {
      z-index: 1; }
    @media (max-width: 767px) {
      .exhibits .exhibit {
        position: relative;
        width: 100% !important;
        left: auto !important;
        top: auto !important;
        right: auto !important;
        bottom: auto !important;
        margin-top: 1em; } }
    .exhibits .exhibit img {
      width: 100%;
      display: block;
      cursor: url("../media/images/drag_cursor.svg") 40 40, auto; }
    .exhibits .exhibit .exhibit-info {
      background: blue;
      height: 7.5em;
      padding: 1em;
      position: relative; }
    .exhibits .exhibit h3, .exhibits .exhibit h4, .exhibits .exhibit a, .exhibits .exhibit a:active, .exhibits .exhibit a:hover, .exhibits .exhibit a:visited {
      font-size: 0.76em;
      color: #fff;
      line-height: 1.1875em;
      margin: 0; }
    .exhibits .exhibit h3, .exhibits .exhibit a, .exhibits .exhibit a:active, .exhibits .exhibit a:hover, .exhibits .exhibit a:visited {
      text-transform: uppercase; }
    .exhibits .exhibit h3 {
      margin-bottom: .3em; }
    .exhibits .exhibit a, .exhibits .exhibit a:active, .exhibits .exhibit a:hover, .exhibits .exhibit a:visited {
      border-bottom: .05em solid blue; }
    .exhibits .exhibit a {
      position: absolute;
      bottom: 1.5em; }

.quote-ticker {
  padding: 14em 0;
  position: relative;
  overflow: hidden;
  background: blue; }
  @media (max-width: 767px) {
    .quote-ticker {
      padding: 4em 0; } }
  .quote-ticker h1 {
    position: absolute;
    white-space: nowrap;
    margin: 0;
    font-size: 12em;
    left: 0;
    color: white;
    top: 50%;
    text-transform: uppercase;
    font-family: 'Trade Gothic W01 Bold 2', sans-serif;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    @media (max-width: 767px) {
      .quote-ticker h1 {
        font-size: 3em; } }

.essays {
  padding-top: 9em;
  padding-bottom: 8em; }
  @media (max-width: 767px) {
    .essays {
      padding-top: 4em;
      padding-bottom: 4em; } }
  .essays h2 {
    font-size: 4em;
    text-transform: uppercase;
    border-bottom: .05em solid blue;
    margin-bottom: 1.8em;
    background: white;
    display: inline-block; }
    @media (max-width: 767px) {
      .essays h2 {
        font-size: 2.4em; } }
  .essays h3 {
    font-size: 4em;
    line-height: 1.15em;
    text-transform: uppercase; }
    .essays h3 span {
      position: relative;
      border-bottom: .05em solid blue; }
    @media (max-width: 767px) {
      .essays h3 {
        font-size: 1.6em; } }
  .essays h4 {
    font-size: 2em; }
    @media (max-width: 767px) {
      .essays h4 {
        font-size: 1em; } }
  .essays .essay {
    display: block;
    background: white;
    margin-bottom: 5em; }
    .essays .essay:hover a, .essays .essay:hover a:active, .essays .essay:hover a:hover, .essays .essay:hover a:visited {
      color: white; }
    .essays .essay:hover h3 span {
      background: blue;
      color: white; }
    @media (max-width: 767px) {
      .essays .essay {
        margin: 0;
        padding: .5em 0; } }

.newsletter-signup {
  background: url("../media/images/dotted_bg.svg"); }
  @media (max-width: 767px) {
    .newsletter-signup {
      padding: 0 15px; } }
  .newsletter-signup .newsletter-row {
    margin-top: 8em;
    margin-bottom: 8em;
    display: flex; }
    @media (max-width: 767px) {
      .newsletter-signup .newsletter-row {
        display: block;
        margin-top: 4em;
        margin-bottom: 4em; } }
  .newsletter-signup .signup-col, .newsletter-signup .social-col {
    background: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative; }
    @media (max-width: 767px) {
      .newsletter-signup .signup-col, .newsletter-signup .social-col {
        margin: 2em 0; } }
    .newsletter-signup .signup-col h4, .newsletter-signup .signup-col li, .newsletter-signup .signup-col input, .newsletter-signup .social-col h4, .newsletter-signup .social-col li, .newsletter-signup .social-col input {
      font-size: 2em;
      line-height: 1.25em;
      list-style: none;
      -webkit-border-radius: 0; }
      @media (max-width: 767px) {
        .newsletter-signup .signup-col h4, .newsletter-signup .signup-col li, .newsletter-signup .signup-col input, .newsletter-signup .social-col h4, .newsletter-signup .social-col li, .newsletter-signup .social-col input {
          font-size: 1.4em; } }
    .newsletter-signup .signup-col ul, .newsletter-signup .social-col ul {
      padding-left: 0; }
    .newsletter-signup .signup-col li.heading, .newsletter-signup .social-col li.heading {
      text-transform: uppercase;
      border-bottom: .05em solid blue; }
  .newsletter-signup .form-container {
    position: absolute;
    bottom: 1em;
    width: 100%;
    height: 4em;
    overflow: hidden;
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    -moz-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    transition: 0.4s all ease; }
    @media (max-width: 767px) {
      .newsletter-signup .form-container {
        position: static;
        margin-top: 3em; } }
    .newsletter-signup .form-container.focused {
      height: 7.8em; }
    @media (max-width: 767px) {
      .newsletter-signup .form-container {
        height: 6em; }
        .newsletter-signup .form-container.focused {
          height: 6em; } }
    .newsletter-signup .form-container input {
      display: block;
      color: blue;
      border: none;
      outline: none;
      box-shadow: none;
      background: transparent;
      border-bottom: 2px solid blue;
      padding: .5em 0 .1em; }
      .newsletter-signup .form-container input.placeholder {
        color: blue; }
      .newsletter-signup .form-container input:-moz-placeholder {
        color: blue; }
      .newsletter-signup .form-container input::-moz-placeholder {
        color: blue; }
      .newsletter-signup .form-container input:-ms-input-placeholder {
        color: blue; }
      .newsletter-signup .form-container input::-webkit-input-placeholder {
        color: blue; }
      .newsletter-signup .form-container input[type="email"] {
        width: 100%; }
      .newsletter-signup .form-container input[type="submit"] {
        float: right; }

.page-container {
  padding-top: 18em; }
  @media (max-width: 767px) {
    .page-container {
      padding-top: 2em; } }

.page-heading h1 {
  margin: 0;
  font-size: 2em;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .page-heading h1 {
      font-size: 1.4em; } }

.page-heading h2 {
  font-size: 2em;
  margin: .2em 0 2em; }
  @media (max-width: 767px) {
    .page-heading h2 {
      font-size: 1.4em; } }

.page-image img {
  width: 100%; }

.page-copy {
  margin-top: 8em;
  margin-bottom: 8em; }
  @media (max-width: 767px) {
    .page-copy {
      margin-top: 4em;
      margin-bottom: 4em; } }
  .page-copy p, .page-copy h3, .page-copy a, .page-copy ul li {
    font-size: 2em;
    line-height: 1.3em;
    display: block; }
    @media (max-width: 767px) {
      .page-copy p, .page-copy h3, .page-copy a, .page-copy ul li {
        font-size: 1.2em; } }
  .page-copy li {
    display: list-item !important;
    list-style-type: disc; }
  .page-copy p, .page-copy ul {
    margin-bottom: 1.2em; }
  .page-copy p a {
    display: inline !important;
    font-size: 1em; }
  .page-copy ul {
    padding-left: 6em; }
  .page-copy p.quote {
    padding-left: 3em;
    text-indent: -0.4125em; }
  .page-copy p.footnote {
    width: 50%;
    font-size: 1.2em; }
    @media (max-width: 767px) {
      .page-copy p.footnote {
        width: 100%;
        font-size: .8em; } }
  .page-copy h3 {
    text-transform: uppercase;
    display: inline-block;
    border-bottom: .05em solid blue;
    margin-bottom: .2em;
    margin-top: 1.5em; }

.about-page-copy {
  margin-bottom: 8em; }
  @media (max-width: 767px) {
    .about-page-copy {
      margin-bottom: 4em; } }
  .about-page-copy p, .about-page-copy h2, .about-page-copy h3, .about-page-copy h4, .about-page-copy a, .about-page-copy ul li {
    font-size: 2em;
    line-height: 1.3em;
    display: block;
    margin: 0; }
    @media (max-width: 767px) {
      .about-page-copy p, .about-page-copy h2, .about-page-copy h3, .about-page-copy h4, .about-page-copy a, .about-page-copy ul li {
        font-size: 1.2em; } }
  .about-page-copy h2 {
    margin-top: 3.4em; }
    .about-page-copy h2:first-of-type {
      margin-top: 0; }
  .about-page-copy h2, .about-page-copy h4 {
    margin-bottom: 1.4em; }
  .about-page-copy p a {
    border-bottom: .05em solid blue;
    display: inline-block;
    font-size: 1em; }
  .about-page-copy p {
    margin-top: 3.4em;
    margin-bottom: 3.4em; }
  .about-page-copy p.link {
    font-size: 1.4em;
    margin: 0; }
  .about-page-copy h2, .about-page-copy h3 {
    text-transform: uppercase; }
  .about-page-copy h2 {
    display: inline-block;
    border-bottom: .05em solid blue; }

.next-page-links {
  font-size: 2em;
  margin-bottom: 4em; }
  .next-page-links .previous {
    float: left; }
  .next-page-links .next {
    float: right; }
  @media (max-width: 767px) {
    .next-page-links {
      font-size: 1.4em; } }

.page-dropdown {
  overflow: hidden;
  max-height: 12em;
  padding: 1em;
  border: 1px solid blue;
  margin-top: -1px;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
  width: -webkit-calc(100%, -30px);
  width: calc(100%, -30px); }
  @media (max-width: 767px) {
    .page-dropdown {
      max-height: 9em; } }
  .page-dropdown .page-heading {
    position: absolute;
    top: 6em;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: -webkit-calc(100% - 2em);
    width: calc(100% - 2em);
    z-index: 1; }
    @media (max-width: 767px) {
      .page-dropdown .page-heading {
        top: 4.5em; } }
  .page-dropdown.open {
    max-height: 99999px; }
    .page-dropdown.open .page-heading {
      top: 1em;
      -moz-transform: none;
      -o-transform: none;
      -ms-transform: none;
      -webkit-transform: none;
      transform: none; }
  .page-dropdown h2 {
    margin: 2em 0 2em;
    line-height: 1.15em;
    text-transform: uppercase; }
    .page-dropdown h2 .heading {
      display: inline;
      border-bottom: .05em solid blue; }
    .page-dropdown h2 .open-icon, .page-dropdown h2 .hide-icon {
      float: right;
      cursor: pointer; }
      @media (max-width: 767px) {
        .page-dropdown h2 .open-icon, .page-dropdown h2 .hide-icon {
          display: none; } }
  .page-dropdown img {
    padding-top: 13em; }
  .page-dropdown:last-of-type {
    margin-bottom: 8em; }

@media (min-width: 2000px) {
  html, body {
    font-size: 21px; }

  .container {
    width: 1770px; } }
@keyframes "blink" {
  from, to {
    opacity: 1; }
  50% {
    opacity: 0; } }
@-moz-keyframes blink {
  from, to {
    opacity: 1; }
  50% {
    opacity: 0; } }
@-webkit-keyframes "blink" {
  from, to {
    opacity: 1; }
  50% {
    opacity: 0; } }
@-ms-keyframes "blink" {
  from, to {
    opacity: 1; }
  50% {
    opacity: 0; } }
@-o-keyframes "blink" {
  from, to {
    opacity: 1; }
  50% {
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
