/*
Theme Name: Bea Healthy Nutrition
Theme URI: http://www.beahealthynutrition.ie
Description: Bea Healthy Nutrition Custom Theme
Version: 1
Author: Brendan MacDonagh
Author URI: http://www.bmacdportfolio.com
*/

@import url('bootstrap/css/bootstrap.min.css'); 

@font-face {
    font-family: 'latoblack';
    src: url('fonts/lato-black-webfont.eot');
    src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-black-webfont.woff2') format('woff2'),
         url('fonts/lato-black-webfont.woff') format('woff'),
         url('fonts/lato-black-webfont.ttf') format('truetype'),
         url('fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* reused CSS i.e. font fasmily size */

html, body{
	font-size: 16px;
	font-family: 'latoblack';
	width: 100%;
	height: 100%;
	color: #232428;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;     
}

main.main-container{
	padding-top: 69px;
	width: 100%;
	height: 100%;
}

h1{
	font-family: 'latoblack';
	font-size: 4.5em;
	text-transform: uppercase;	
	color: #fff;		
	margin: 0;
	text-align: center;
}

h2{
	font-family: 'Lato';
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: .05em;
	text-align: center;
	margin: 3.8em 0 2.5em;
}

h3{
	font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 2.25em;	
	line-height: 1.1em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1.2em;
}

h4{
	font-family: 'latoblack';
	font-size: .875em;
	text-transform: uppercase;	
}

input{
	outline: none;
	-webkit-appearance: none;
}

p{
	font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 1.25em;
	line-height: 1.5em;	
}

p.small{
	font-size: .875em;
	line-height: initial;
}

ul{
	padding: 0;
	margin: 0;
}

ul li{
	list-style: none;
}

a{
	color: #232428;
}

a:hover{
	text-decoration: none;
	color: #ffc501;
}

a.box-link{
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffc501;
	font-size: .875em;
	padding: 1em 2em;
	transition: .2s background ease;
	display: inline-block;
	margin: 1.8em 0 3em;
}

a.box-link:hover{
	color: #232428;
	background: #ffc501;
}

/* header CSS */

header{
	font-size: 0.75em;	
	padding-top: 2.2em;
	padding-bottom: 2.2em;
	text-transform: uppercase;
	background: #fff;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
}

header a.logo{
	color: #ffc501;
	float: left;
}

header nav{	
	float: right;
}

header nav ul li{	
	display: inline-block;
	padding-left: 3em;
}

header .hamburg-menu{
	float: right;
    width: 24px;
    height: 17px;
    padding: 3px 0;
}

header .hamburg-menu .bar{
	width: 24px;
    position: absolute;
    height: 2px;
    background: #ffc501;
    display: block;
    top: 6px;
}

header .hamburg-menu .bar:nth-of-type(1){
	top: 3px;	
}

header .hamburg-menu .bar:nth-of-type(2){
	top: 9px;	
}

header .hamburg-menu .bar:nth-of-type(3){
	top: 15px;
}

header .hamburg-menu.clicked .bar:nth-of-type(1){
    top: 9px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .hamburg-menu.clicked .bar:nth-of-type(2){
	opacity: 0;
}

header .hamburg-menu.clicked .bar:nth-of-type(3){
	top: 9px;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

aside.side-menu{
	position: fixed;
    height: 0;
    overflow: hidden;
    padding-top: 72px;
    width: 100%;
    background: #fff;    
    z-index: 1;
    transition: .4s height ease;
}

aside.side-menu.open{
	height: 100%;
}

aside.side-menu ul{
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

aside.side-menu ul li{
	line-height: 2em;
}

aside.side-menu ul li.break{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 1em 0;
	background: #ffc501;
	display: inline-block;
}

aside.side-menu ul li.social{	
	line-height: 1.3em;	
	font-size: .8em;
	color: #ffc501;
}

aside.side-menu ul li.social a{
	font-size: .8em;
	color: #ffc501;
}

/* main home image */
.main-home-image{
	width: 100%;
	height: 100%;
	background: url("images/banner-image.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	position: relative;
}

.main-home-text{	
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	height: 80%;
}

.main-home-text span{	
	color: #ffc501;
}

.main-home-text img{	
	max-height: 80%;
	width: 100%;	
	max-width: 90%;
}

.main-home-text a.box-link{	
	background: #ffc501;	
}

/* about container */

.about-container, .contact-container{
	margin-bottom: 4em;
}

.about-container .row, .contact-container .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}

.about-image{
	background: #f1f1f1;
	background-clip:content-box;
}

/* Ethos Container */

.ethos-container{
	text-align: center;
	background: #fafafa;
	padding-bottom: 7em;
}

/* Ethos Container */

.testimonial-container{
	text-align: center;	
	padding-bottom: 3.5em;
	background: url("images/testimonials.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	color: #fff;
}

.quoter{
	font-size: 1.125em;
	float: right;
}

/* Posts Container */

.posts-container{
	padding-bottom: 3.5em;
	text-align: center;
}

.post{
	background: #f1f1f1;
	background-origin: border-box;
	background-repeat: no-repeat; 
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.post-1{
	height: 555px;
}

.post:not(.post-1){
	height: 262.5px;
}

.post-3, .post-6{
	margin-top: 30px;
}

.post-4{
	position: relative;
}

.post-4 .twitter-info{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	padding: 1em;
}

.post-4 .twitter-info a{
	font-size: 1.5em;
	color: #ffc501;
}

/* page */

.page-container{	
	margin-bottom: 6em;
}

.page-container h2, h3{	
	text-align: center;
}

.page-container img{	
	width: 100%;
	height: auto;
	margin-bottom: 5em;
}

.page-container h2{	        
    margin: 0 0 1.5em;
}

.page-container h3{	    
    font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 2.8em;    
    margin-bottom: .5em; 
}

.page-container p, .page-container ul{
	margin-bottom: 2em;
}

p.disclaimer{	
	font-family: "latoblack";
	font-size: .7em;
    font-weight: bold;
}

.page-container ol{	
	font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 1.25em;
	line-height: 1.5em;	
	padding-left: 1em;
	margin: 3em 0;
}

.page-container ul{	
	font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 1.25em;
	line-height: 1.5em;	
	padding-left: 1em;
	margin: 3em 0;
	text-align: center;
}

.page-container ul li{
	padding: .5em 0;
}

.page-main-header{
    margin-top: 10em;
    margin-bottom: 1em;
}

.page-main-header:nth-of-type(1){
    margin-top: 6em;
    margin-bottom: 1em;
}

/* prices */

.price-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}

.price-inner-container{
	text-align: center;
    padding: 30px;
    border: 1px solid;
}

.price-container span{
	display: block;
}

.price-title{
	font-size: .8em;
    display: block;
}

.price{
	display: block;
    font-size: 4em;
}

.price-includes{
	display: block;
    font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    margin-top: 0;
    line-height: 1.3em;
}

/* contact */

#mapCanvas{
	width: 100%;
	height: 60vh;
	min-height: 300px;
}

/* footer */

footer{
	background: #ffc501;
	padding-top: 6em;
	padding-bottom: 5em;
}

footer p, footer a{
	font-family: "Lato";
	font-size: 1em;
}

footer p .bold{
	font-weight: 700;
}

footer a:hover{
	color: #232428;
}

@media(max-width: 993px){
	.logo{
		font-size: 1.2em;
	}
	.about-container .row, .contact-container .row{
		display: block;
	}
	.about-image{
		min-height: 350px;
	}
	.post{
		height: 300px !important;
		margin: 15px 0 !important;
	}
	.post-4{
		margin: 0 0 15px !important;	
	}
}

@media(max-width: 768px){
	.about-image{
		margin-bottom: 30px;
	}
	.page-container h3{	    
	    font-size: 2.4em;    
	}
}

@media(max-width: 600px){
	.main-home-text{
		height: auto;
	}
}

@media(min-width: 2000px){
	body{
		font-size: 21px;
	}
	.container{
		width: 1500px;
	}
}
