//MIXINS
// overall transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
} 

// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

// rotate
@mixin rotate ($deg) {
   @include transform(rotate($deg));
}

//calc
@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

//override calc
@mixin overrideCalc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression}) !important;
  #{$property}: calc(#{$expression}) !important;
}

// overall transform
@mixin bg-size($size) {
	   -moz-background-size: $size;
	     -o-background-size: $size;
	    -ms-background-size: $size;
	-webkit-background-size: $size;
          background-size: $size;
} 

//transform origin
@mixin transform-origin($value) {
	   -moz-transform-origin: $value;
	     -o-transform-origin: $value;
	    -ms-transform-origin: $value;
	-webkit-transform-origin: $value;
          transform-origin: $value;
} 

//box-sizing
@mixin box-sizing($value) {
	   -webkit-box-sizing: $value;
		  -moz-box-sizing: $value;
			box-sizing: $value;
} 

//END MIXINS

//COLORS

$dark-grey: #2e2e2e;
$med-grey: #888888;
$light-grey: #b4b4b4;

//END COLORS

html, body{
	font-size: 15px;
	width: 100%;
	height: 100%;
	min-height: 600px;
	position: relative;
	background: #fff;
	color: $dark-grey;
	letter-spacing: .02em;
	font-family: 'Nunito', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	@media(min-width: 1600px){
		font-size: 20px;
	}
	@media(min-width: 2000px){
		font-size: 25px;
	}
	@media(max-width: 767px){
		min-height: 0;
	}
}

.container{
	@media(min-width: 768px){
		width: 690px;
	}
	@media(min-width: 992px){
		width: 910px;
	}
	@media(min-width: 1200px){
		width: 1110px;
	}
	@media(min-width: 1600px){
		width: 1470px;
	}
	@media(min-width: 2000px){
		width: 1770px;
	}
}

h1, h2, h3, h4{
	font-size: 1em;
	line-height: 1em;
	margin: 0;
}

a, a:hover, a:visited, a:link, a:active{
	color: $dark-grey;
	text-decoration: none;
}

a span{
	display: inline-block;
}

a span.arrow{
	position: relative;
	width: 1.3em;
	height: 0.6em;
	overflow: hidden;	
	margin-left: .6em;
}

a span img{
	position: absolute;
	transition: .4s all ease;
	&:first-of-type{
		left: -300%;
	}
	&:last-of-type{
		left: 0;
	}
}

a:hover{
	span img{
		&:first-of-type{
			left: 0;
		}
		&:last-of-type{
			left: 300%;
		}
	}
}

.gif-loader{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	background: #fff;
	img{
		position: absolute;
		left: 50%;
		top: 50%;
		@include translate(-50%, -50%);
	}
}

.menu-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	background: $dark-grey;
	z-index: 10;
	transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
	&.active{
		pointer-events: auto;
		opacity: .6;
	}
	@media(max-width: 991px){
	    height: calc(100% - 2em);
	    top: 3em;
	    left: 5em;
	    &.active{
			left: 50%;
		}
	}
}

.slide-menu{
	position: fixed;
	width: 50%;
	height: 100%;
	background: $dark-grey;
	left: -50%;
	transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
	z-index: 11;
	padding: 2em;
	color: #fff;
	&.active{
		left: 0;
	}
	a img{
		width: 2em;
		margin: 0;
	}
	nav{
		margin-top: 6em; 
	}
	ul{
		font-size: 1.06666666em;
		padding-left: 0;		
		li{
			list-style: none;
			line-height: 1.625em;
			a{
				color: #fff;
			}
			&.heading{
				color: $med-grey;
			}
			&.separator{
				display: block;
				height: 1px;
				width: 1.0666em;
				margin: 2em 0;
				background: #fff;
			}
		}
	}
	@media(max-width: 991px){
		background: #fff;
		width: 100%;
		left: auto;
		top: -100%;
		text-align: center;
		color: $dark-grey;
		padding: 0;
		ul{
			position: absolute;
			top: 50%;
			width: 100%;
			@include translate(0, -50%);
		}
		ul li{
			a{
				color: $dark-grey;
			}			
			&.separator{
				background: $light-grey;
				margin: 1em auto;
			}
		}
		&.active{
			top: 0;
		}
	}
}

main{
	width: 100%;
	height: 100%;
	padding: 2em;
	margin-left: 0;
	transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);	
	@media(min-width: 991px){
		&.menu-active{
			margin-left: 50%;
		}
	}
	@media(max-width: 991px){
		padding: 3em 2em 2em;
	}	
	@media(max-width: 767px){
		padding: 3em 1em 0;
	}	
}

.main-container{
	width: 100%;
	height: 100%;
	position: relative;	
	@media(max-width: 991px){
		overflow: hidden;
	}	
}

.left-column, .right-column{
	position: absolute;	
	height: 100%;	
}

.left-column{
	@include calc(width, "20% - 1em");
	top: 0;
	left: 0;
	@media(max-width: 1100px){
		@include calc(width, "22% - 1em");
	}
	@media(max-width: 991px){
		@include calc(width, "50% - 5em");
		@include calc(left, "5em - 50%");
		transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
		&.show{
			left: 0;
		}
	}
	@media(max-width: 767px){
		width: 100%;
		left: 0;
		&.show{
			left: 0;
			top: -100%
		}
	}
}

.menu-button{
	height: 2em;
	width: 2em;
	position: relative;
	cursor: pointer;
	.bar{
		display: block;
		width: 1em;
		height: 2px;
		background: $dark-grey;
		position: absolute;
		@include transform(none);
		&.top-bar{
			top: .666666666em;
		}
		&.middle-bar{
			top: 50%;
			width: 0.8em;
			left: 0;
			@include translate(0, -50%);
		}
		&.bottom-bar{
			bottom: .666666666em;
		}
		transition: .2s all ease;
	}
	&.active, &:hover{
		.middle-bar{
			@include calc(left, "100% - 1.8em");
		}
	}	
}

.small-header{
	position: fixed;
    z-index: 13;
    background: #fff;
    width: 100%;
    height: 3em;
    .menu-button{
    	position: absolute;
	    top: 50%;
	    left: 2em;
	    @include translate(0, -50%);
	    @media(max-width: 767px){
			left: 1em;
		}
    }
    .logo{
        display: block;
	    position: absolute;
	    left: 50%;
	    top: 50%;
	    @include translate(-50%, -50%);
	    img{
	    	width: 1.8em;
	    }
    }
}

.profile-image{
	display: block;
	width: 100%;
	@include calc(height, "50% - 4em");
	background: url("../images/profile-2.jpg") no-repeat center center;
	@include bg-size(cover);
	@media(max-width: 767px){
		height: 50%;	
	}
}

.home-about{
	position: relative;
	padding-top: 2em;
	@include calc(height, "50% + 2em");	
	h1{
		font-size: 1.0666em;
		line-height: 1.1875em;
	}
	h2{
		font-size: 0.8em;
		color: $light-grey;
	}
	p{
		font-size: .8em;
		line-height: 1.5em;
		padding-left: 3em;
		margin-top: 1em; 
	}
	.separator{
		display: block;
		height: 1px;
		width: 1.0666em;
		background: $dark-grey;
		margin: 1em 0;
	}
	.links{
		position: absolute;
		bottom: 0;			
		height: 2em;
		width: 100%;
		.links-inner{
			position: relative;
			height: 100%;				
			a{
				width: 100%;
				display: block;
				position: absolute;
				top: 50%;
				@include translate(0, -50%);
				span{
					font-size: 0.8em;
				}
			}
		}
		.links-mobile{
			font-size: 0.8em;
		}
		@media(max-width: 991px){
			height: auto;
			bottom: 1em;
			.links-inner a{
				position: relative;
				top: auto;
				@include transform(none);
			}
		}
	}	
	@media(max-width: 991px){
		@include calc(height, "50% + 4em");
	}
	@media(max-width: 767px){
		height: 50%;	
		padding-top: 0;
		h1{
			padding: 1em 0 0.5em;
		}
	}
}

.middle-column{
	width: 5em;
    position: absolute;
    height: 100%;
    left: 0;
    .middle-column-inner{
        position: relative;
	    width: 100%;
	    height: 100%;
    }
    .tablet-switch{
	    position: absolute;
	    top: 50%;
	    @include transform(rotate(90deg) translateX(-50%));
	    @include transform-origin(bottom left);
	    height: 1.1em;
	    width: 6em;
	    overflow: hidden;
	    span{
	        position: absolute;
		    width: 100%;
		    text-align: center;
		    transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
		    &:first-of-type{
		    	top: 0;
		    }
		    &:last-of-type{
		    	top: 150%;
		    }
	    }
	}
    transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
	&.show{
		left: calc(50% - 3em);
		.tablet-switch{
			span:first-of-type{
				top: -150%;
			}
			span:last-of-type{
				top: 0;
			}
		}
	}
}

.right-column{
	@include calc(width, "80% - 1em");
	right: 0;
	overflow: hidden;	
	@media(max-width: 1100px){
		@include calc(width, "78% - 1em");
	}
	@media(max-width: 991px){
		right: auto;
    	// left: 33.33333333%;
    	left: 5em;
    	@include calc(width, "100% - 5em");
    	@include calc(height, "100% - 2em");
    	top: 2em;
    	transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
		&.show{
			@include calc(left, "50% + 2em");
		}
	}
	@media(max-width: 767px){
		width: 100%;
		left: 0;
		top: 100%;
		height: calc(100% - 1em);
		&.show{
			left: 0;
			top: 0%
		}
	}
}

.social-links{
	height: 2.666666em;
	background: #fff;
	position: absolute;
	top: 2em;
	right: 4.8em;
	z-index: 1;
	@include rotate(-90deg);
	@include transform-origin(100% 0%);
	ul{
		font-size: .8em;
	    color: $light-grey;
	    padding-left: 0;
	    margin: 0;
	    padding: 1em 1em;
		li{
			list-style: none;
			display: inline-block;
			margin: 0 0.83333em;
			&.separator{
			    height: 1px;
			    width: 1.0666em;
			    background: $light-grey;
			    vertical-align: middle;
			}
		}
		a{
			color: $light-grey;
		}
	}
}

.main-image-area{
	height: 100%;
	position: relative;
	.image-slider{
		@include calc(height, "100% - 2em");
		position: absolute;
		transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
		left: 0;
		opacity: 0;
		pointer-events: none;
		&.show{
			opacity: 1;
			pointer-events: auto;			
		}
		.project{
			height: 100%;
			float: left;
			background-repeat: no-repeat;
			background-position: center center;
			@include bg-size(cover);
		}
		@media(max-width: 991px){
			height: 75%;
		}
		@media(max-width: 767px){
			height: 100%;
		}
	}
	.image-scroller{
		position: absolute;
		@include calc(width, "100% - 5em");
		@include calc(height, "100% - 2em");
		top: 0;
		left: 0;
		opacity: 0;
		pointer-events: none;
		overflow-y: scroll;
		transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
		&::-webkit-scrollbar {
		    display: none;
		}
		&::-webkit-scrollbar-track {
		    display: none;
		}		 
		&::-webkit-scrollbar-thumb {
		  	display: none;
		}
		&.show{
			opacity: 1;
			pointer-events: auto;			
		}

		.scroll-row{
			position: relative;
			padding-bottom: 60%;
			margin-bottom: 2em;
			.project{
				@include overrideCalc(width, "50% - 1em");
				background-repeat: no-repeat;
				background-position: center center;
				@include bg-size(cover);
				position: absolute;
				.project-info-cont{
					background: #fff;
					@include calc(width, "100% - 2em");
				    @include calc(height, "100% - 2em");
				    top: 1em;
				    left: 1em;
				    position: absolute;
				    padding: 2em 1em;
				    opacity: 0;
				    transition: .3s all ease;
				    &:hover{
				    	opacity: 1;
				    }
				}

				h2{
					font-size: 1.0666em;
					margin-bottom: 0.6666666em;
				}
				h3{
					font-size: 0.8em;
					color: $light-grey;
					margin-bottom: 2em;
				}
				p{
					display: none;
				}
				a{
				    position: absolute;
	    			bottom: 1em;
				}
				a span{
					font-size: 0.8em;
				}
			}
			&:nth-child(odd){
				.project:nth-child(1){
					top: 50%;
					left: 0;
					@include translate(0, -50%);
					padding-bottom: 30%;
				}

				.project:nth-child(2){
					right: 0;
					top: 0;
					padding-bottom: 60%;
				}
			}
			&:nth-child(even){
				.project:nth-child(1){					
					left: 0;
					top: 0;
					padding-bottom: 60%;
				}

				.project:nth-child(2){
					top: 50%;
					right: 0;
					@include translate(0, -50%);
					padding-bottom: 30%;
				}
			}			
		}
	}
	@media(max-width: 767px){
		height: calc(100% - 2em);
	}
}



.slider-details{
	position: absolute;
	width: 23.5%;
	@include calc(height, "100% - 6em");
	background: #fff;
	top: 2em;
	left: 2em;
	padding: 1em;
	opacity: 0;
	pointer-events: none;
	transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
	&.show{
		opacity: 1;
		pointer-events: auto;			
	}	
	.project-info-cont{
		position: absolute;
    	@include calc(width, "100% - 2em");
    	bottom: 1em;
    	.project-info{
    		left: 0;
    		bottom: 1em;
    		transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
    		z-index: 1;
    		position: absolute;
    		width: 100%;
    		pointer-events: none;
    		opacity: 0;
    		&:first-of-type{
    			position: relative;    			
    		}
    		&.active{
    			opacity: 1;
    			pointer-events: auto;
    		}
    		&.type-trans{
				bottom: 0;
			}
    		h2{
				font-size: 1.0666em;
				margin-bottom: 0.6666666em;
				@media(max-width: 767px){
					margin-bottom: 0.3em;
				}
			}
			h3{
				font-size: 0.8em;
				color: $light-grey;
				margin-bottom: 2em;
			}
			p{
				font-size: 0.8em;
				line-height: 1.5em;
				margin-bottom: 4.466666666em;
			}
			a span{
				font-size: 0.8em;
			}
    	}
	}
	@media(max-width: 1100px){
		width: 31.2%;
	}
	@media(max-width: 991px){
	    height: 25%;
	    width: 100%;
	    left: 0;
	    top: auto;
	    bottom: 0;
	    padding-left: 0;
	    padding-right: 0;
	    padding-top: 2em;
	    .project-info-cont{
	    	@include calc(height, "100% - 3em");
	    	.project-info-inner-cont{
	    		height: 100%;
	    	}
	        width: 50%;
	        @include calc(width, "50% - 1em");
    		float: left;
    		bottom: auto;
    		.project-info{
    			height: 100%;
    			p{
    				display: none;
    			}
    			a{
    				position: absolute;
    				bottom: 0;
    				@media(max-width: 767px){
    					position: relative;
    					display: block;
    				}
    			}
    		}
	    }
	}
	@media(max-width: 767px){
	    width: calc(100% - 2em);
	    left: 1em;
	    bottom: 1em;
	    padding: 1em 1em;
	    text-align: center;
	    height: 7em;
	    .project-info-cont{
	    	@include calc(width, "100% - 2em");
	    	height: auto
	    }
	}
}

.slide-circles{
	ul{
		padding-left: 0;
		line-height: 0;
		margin: 0;
		li{
			display: inline-block;
			width: 0.46666666em;
			height: 0.46666666em;
			border: 1px solid $dark-grey;
			border-radius: 1em;
			margin-right: .3em;
			&.active{
				background: $dark-grey;
			}
		}
	}
	@media(max-width: 991px){
    	width: 50%;
    	float: right;
    	position: relative;
    	@include calc(width, "50% - 1em");
    	ul{
    		text-align: center;
    	}
    }
    @media(max-width: 767px){
    	position: absolute;
	    left: 50%;
	    top: 50%;
	    @include translate(-50%, -50%)
    }
}

.image-slider-controls{
	position: absolute;
	width: 100%;
	bottom: 0;
	background: #fff;
	height: 2em;
	.view-btn{
		position: absolute;
		height: 1em;
		width: 1em;		
		top: 50%;
		left: 50%;
		cursor: pointer;
		.inner-view-btn{
			width: 100%;
			height: 100%;
			position: relative;
		}
		@include translate(-50%, -50%);
		span{
			position: absolute;
			background: $dark-grey;
			width: 0.4em;
			height: 0.4em;
			transition: .6s all ease-in;
			&.top-left{
				left: 0;
				top: 0;
			}
			&.top-right{
				right: 0;
				top: 0;
			}
			&.bottom-left{
				left: 0;
				bottom: 0;
			}
			&.bottom-right{
				right: 0;
				bottom: 0;
			}
		}
		&.full-view{
			span{
				width: 100%;
				height: 100%;
			}			
		}	
	}
}

.left-slide-arrow, .right-slide-arrow{
	position: absolute;
	top: 50%;
	cursor: pointer;
	width: 1.0666666em;
	@include translate(0, -50%);
	
	.arrow{
		position: relative;
		width: 1.3em;
		height: 0.6em;
		overflow: hidden;
		display: block;
	}

	.arrow img{
		position: absolute;
		transition: .4s all ease;
		&:first-of-type{
			left: -300%;
		}
		&:last-of-type{
			left: 0;
		}
	}

	&:hover{
		img{
			&:first-of-type{
				left: 0;
			}
			&:last-of-type{
				left: 300%;
			}
		}
	}

}
.left-slide-arrow, .arrow-home-link{
	left: 0;

	.arrow img{
		position: absolute;
		transition: .4s all ease;
		&:first-of-type{
			left: 0%;
		}
		&:last-of-type{
			left: 300%;
		}
	}

	&:hover{
		img{
			&:first-of-type{
				left: -300%;
			}
			&:last-of-type{
				left: 0;
			}
		}
	}
}
.right-slide-arrow{
	right: 0em;
}

.home-link{
	position: absolute;
	height: 6em;
}

.arrow-home-link{
	position: absolute;
	top: 50%;
	@include translate(0, -50%);
	width: 10em;
	span{
		vertical-align: middle;
	}
	.arrow{
		margin-left: 0;
		margin-right: 0;
	}
	.text-link{
		font-size: .8em;
	}
	.link-cont{
		position: absolute;
		top: 50%;
		@include translate(0, -50%);
	}
}

#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:#fff;
  transition: 1s 0.4s;
}
#progress{
  height:3px;
  background:$dark-grey;
  position:absolute;
  width:0;
  top:0;
}

//inner pages

.main-image{
	width: 100%;
	height: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	@include bg-size(cover);
	position: relative;
}

.page-container{
	line-height: 1.5em;
	padding: 0 0 8em;
	h1{
		line-height: 1.5em;
	}
	.extra-info ul{
		padding-left: 0;
		li{
			list-style: none;
			color: $light-grey;
		}
	}
	.row{
		margin-top: 6em;
		.row{
			margin-top: 0;	
		}
		@media(max-width: 991px){
			.extra-info ul{
				margin: 0.5em 0 2em;
				font-size: .8em;
				line-height: 1.4em;				
			}
		}
		@media(max-width: 767px){			
			margin-top: 3em; 
			h1{
				line-height: 1.1875em;
				padding: 1em 0 0;
			}
			&.top-row{
				margin-top: 0; 
			}
		}
	}
}

.image-row{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	align-items: center;
  	justify-content: center;
	img{
		width: 100%;
		margin: 15px 0;
	}
	@media(max-width: 767px){
		display: block;
	}
}