/*
Theme Name: Rory McCormick
Theme URI: http://www.rorymccormick.ie
Description: Theme for Rory McCormick.ie
Version: 1
Author: Rory McCormick and Brendan MacDonagh
Author URI: http://rorymccormick.ie/
*/

@import url('bootstrap/css/bootstrap.min.css'); 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	padding-left: 0;
}
ol li, ul li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body{
	font-family: "Karla";
	background: #f3f3f3;
	color: #333333;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

a{
	color: #333333;
}

a:link, a:visited {
	color: #333333;
	text-decoration: none;
}

a:hover{
	color: #888888;
	text-decoration: none;
}
a h2{
	padding-top: 1em;
	padding-bottom: .2em;
}

a:hover h2{
	color: #333333;
	text-decoration: none;
}

a:hover span:not(.light-grey){
	color: #333333;
	text-decoration: none;
}

a img{
	opacity: 1;
	transition: .3s all ease;
}

a:hover img{
	opacity: .7;
}

p{
	line-height: 1.3em;
	color: #888888;
}

section{
	display: block;
}

img{
	width: 100%;
	margin-top: 5em;
}

.light-grey{
	color: #888888;
}

[class*='col-sm']{
	padding-left: 2em;
	padding-right: 2em;
}

.col-xs-12{
	padding-left: 2em;
	padding-right: 2em;	
}

.special-col{
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 3.5em;
}

header{
	padding: 4em 0 2em;
}

header span{
	display: block;
	padding-bottom: .2em;
}

header ul li{
	display: inline-block;
	padding-right: 2em;
}

.page-desc{
	margin-top: 5em;
	margin-bottom: 1em;
}

.page-desc h1, .page-desc h2{
	margin-bottom: .2em;
}

footer{	
	padding: 10em 0 3em;
}

footer span{
	font-size: .6875em;
}

@media(min-width: 2000px){
	body{
		font-size: 21px;
	}
	.container{
		width: 1770px;
	}
}

@media(max-width: 769px){
	.nav{
		margin-top: 1.2em;
	}

	header{
		padding: 3em 0 1.5em;
	}

	img, .page-desc{
		margin-top: 3.5em;
	}	

	.page-desc h2.light-grey{
		margin-bottom: 2em;
	}
	img.feat-image{
		margin-top: 0;
	}

	[class*='col-sm']{
		padding-left: 15px;
		padding-right: 15px;
	}

	.col-xs-12{
		padding-left: 15px;
		padding-right: 15px;	
	}
}