//MIXINS
$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:hover';

// overall transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
} 

// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

//background-size
@mixin bg-size($size) {
	   -moz-background-size: $size;
	     -o-background-size: $size;
	    -ms-background-size: $size;
	-webkit-background-size: $size;
          background-size: $size;
} 

//transitions
@mixin transition($value) {
	   -moz-transition: $value;
	     -o-transition: $value;
	    -ms-transition: $value;
	-webkit-transition: $value;
          transition: $value;
} 

//transform origin
@mixin transform-origin($value) {
	   -moz-transform-origin: $value;
	     -o-transform-origin: $value;
	    -ms-transform-origin: $value;
	-webkit-transform-origin: $value;
          transform-origin: $value;
} 

//calc
@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

//placeholders
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

//END MIXINS


html, body{
	font-family:'Trade Gothic W01 Light', sans-serif;
	color: blue;
	font-size: 16px;
	width: 100%;
	height: 100%;
	max-height: 1300px;
}

#{$a-tags} {
 	text-decoration: none;
	color: blue;
}
#{$a-tags-hover} {
	text-decoration: none;
	color: blue;
}

header, footer {
	text-transform: uppercase;
	padding-top: 2em;
	padding-bottom: 2em;
	position: absolute;
	width: 100%;
	z-index: 1;
	@media(max-width: 767px){
 		position: relative;
 		font-size: .8em;
 	}
	#{$a-tags} {
		font-family:'Trade Gothic W01 Bold 2', sans-serif;	 	
	 	li{	 		
	 		span{
	 			border-bottom: .05em solid blue;
	 		}
	 	}
	 	&.top-logo{
			position: fixed;
		 	top: 2em;
		 	left: 2em;
		 	border-bottom: none;
		 	img{
		 		width: 6em;
		 	}
		}
	 	@media(max-width: 767px){	 		
	 		margin-bottom: 1em;	 
	 		display: block;	 		
	 		&.top-logo{
	 			position: relative;
		 		top: 0;
		 		left: 0;
	 			width: 50%;
	 		}
	 	}
	}	
	ul{
		padding-left: 0;
		margin-bottom: 1em;
		li{
			list-style: none;
			line-height: 1.3em;
			&.heading{
				font-family:"Trade Gothic W01 Bold 2", sans-serif;
			}
		}
	}
	.hamburger-btn{
		position: fixed;
		width: 1.6875em;
		height: 1.1em;
		right: 2em;
		top: 2em;
		cursor: pointer;
		z-index: 10;
		@media(max-width: 767px){
			right: 15px;
		}
		.bar{
			width: 100%;
			height: 2px;
			background: blue;
			position: absolute;
			&.middle-bar{
				top: 50%;
				@include translate(0, -50%);
			}
			&.bottom-bar{
				bottom: 0;
			}
		}
	}
}

footer.container-fluid{
	background: blue;
	color: #fff;
	padding-bottom: 0;
	padding-left: 2em;
	padding-right: 2em;
	#{$a-tags}{
		color: #fff;
		position: static;
		span{
 			border-bottom: .05em solid white;
 		}
	}
	.footer-extra-info{
		margin-top: 10em;
	}
	.footer-info, .footer-info-wide{
		float: left;
		padding-right: 5em;	
		margin-bottom: 2em;	
		h5{
			font-size: 13px;
			text-transform: none;
		}
		span{
			font-size: 8px;
			display: inline-block;
			width: 100%;
			max-width: 128px;
			&.large{
				font-size: 13px;
				max-width: 238px;
			}
		}
		img{
			padding-bottom: 1em;
			vertical-align: top;
			padding-right: 1em;
			&.less-padding{
				padding-right: 3px;
			}
		}
		#{$a-tags}{
			font-family: "Trade Gothic W01 Light";
			span{
	 			border-bottom: none;
	 		}
		}
	}
	.footer-info-wide{
		width: 100%;
	}
}

.video-overlay{
	background: white;
	z-index: 11;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;	
	video{
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
		cursor: url("../media/images/pause_cursor.svg") 40 40, auto;  		
		&.paused{
			cursor: url("../media/images/play_cursor.svg") 40 40, auto;
		}
	}
	.close-video{
		cursor: pointer;
		top: 2em;
		right: 2em;
		position: fixed;
		width: 1.6875em;
		height: 1.1em;
		z-index: 12;
		@media(max-width: 767px){
			right: 15px;
		}
		.bar{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 2px;
			background: blue;
			@include transform(translate(-50%, -50%) rotate(45deg));
			&.right-bar{
				@include transform(translate(-50%, -50%) rotate(-45deg));
			}
		}
	}
}

a .blinking-cursor{
	display: none;
	-webkit-animation: .5s blink step-end infinite;
	-moz-animation: .5s blink step-end infinite;
	-ms-animation: .5s blink step-end infinite;
	-o-animation: .5s blink step-end infinite;
	animation: .5s blink step-end infinite;
}
a:hover .blinking-cursor{
	display: inline;
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: blue;
	z-index: 10;
	padding: 2em;
	overflow-y: auto;
	&::-webkit-scrollbar-track
	{
		background-color: blue;
	}

	&::-webkit-scrollbar
	{
		width: 14px;
		background-color: blue;		
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: #fff;
		border: none;
		border: 4px solid blue;
	}
	@media(max-width: 767px){
 		padding: 2em 15px;
 	}
	#{$a-tags} {
		color: white;
		&.menu-logo{
			font-family:'Trade Gothic W01 Bold 2', sans-serif;
	 		border-bottom: .05em solid blue;
	 		display: block;
	 		margin-bottom: 6em;
	 		line-height: 1.3em;
	 		width: 50%;
	 		li{	 		
		 		span{
		 			border-bottom: .05em solid white;
		 		}
		 	}
		}
	}
	ul{
		padding-left: 0;
		text-transform: uppercase;
		li{
			list-style: none;
		}
		a{
			font-size: 2em;
			line-height: 1.1428em;			
			@media(max-width: 767px){
				font-size: 1.4em;
			}
		}
		&.main-links{
			float: left;
			width: 300px;
		}		
		&.main-links a{
			line-height: 1.2em;	
			@media(max-width: 767px){
				line-height: 1.2em;
			}
		}		
	}
	.sub-links{
		width: 400px;
		color: white;
		float: left;
		font-size: .8em;
		@media(max-width: 767px){
			width: 100%;			
		}
		h5{
			font-size: 1em;
			display: inline-block;
			border-bottom: 0.05em solid white;
			margin-bottom: 0;
			@media(max-width: 767px){
				margin-top: 3em;					
			}
		}
		a{
			font-size: .8em;
			color: #fff;
			display: block;
			width: 100%;
			max-width: 300px;
			border: 1px solid white;
			padding: .5em;
			text-align: center;
			margin-top: 2em;
			&:hover{
				background: white;
				color: blue;
			}
		}
	}
	.close-menu{
		cursor: pointer;
		top: 2em;
		right: 2em;
		position: fixed;
		width: 1.6875em;
		height: 1.1em;
		z-index: 10;
		@media(max-width: 767px){
			right: 20px;
		}
		.bar{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 2px;
			background: white;
			@include transform(translate(-50%, -50%) rotate(45deg));
			&.right-bar{
				@include transform(translate(-50%, -50%) rotate(-45deg));
			}
		}
	}
}

main{
	width: 100%;
	height: 100%;
	position: relative;
}

.glitch-text{
	height: 100%;	
	position: relative;
	@media(max-width: 767px){
		height: auto;
	    font-size: 1em;
    	padding-top: 2em;
		padding-bottom: 6em;
	}
	.row, .glitch-text-col{
		height: 100%;
		position: relative;
	}
	h2{
		position: absolute;
		width: 27em;
		left: 50%;
		top: 50%;
		@include translate(-50%,-50%);
		font-size: 2em;		
		margin: 0;
		@media(max-width: 993px){
			width: 13em;
		}
		@media(max-width: 767px){
			position: static;
			@include transform(none);
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
			font-size: 1.4em;
		}
		p{
			margin: 0;
			line-height: 1.35em;
			cursor: pointer;
			position: relative;
		}
		#cursor{
			position: absolute;
			z-index: 1;
			img{
				width: 1em;
			}
		}
		span{
			position: relative;
			cursor: pointer;
			&:after{
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				background: blue;
				left: 0;
				bottom: 0;
				display: none;
			}
			&.hovered{
				font-family:'Trade Gothic W01 Bold 2', sans-serif;
			}
		}
	}	
}

.video-container{
	position: relative;
	video{
		width: 100%;
  		cursor: url("../media/images/play_cursor.svg") 40 40, auto;
  		@media(max-width: 993px){
  			cursor: pointer;
	  		&.paused{
	  			cursor: pointer;
	  		}
  		}
  		&::-webkit-media-controls-panel {
		  display: none!important;
		  -webkit-appearance: none;
		}

		&::--webkit-media-controls-play-button {
		  display: none!important;
		  -webkit-appearance: none;
		}

		&::-webkit-media-controls-start-playback-button {
		  display: none!important;
		  -webkit-appearance: none;
		}
	}
	.play-button{
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);
	}
}

.about-text{
	width: 27em;
	font-size: 2em;
	margin: 6em auto 6em;
	p{		
		line-height: 1.25em;
		margin: 0;
		font-size: 1.2em;
		@media(max-width: 993px){
			font-size: 1em;
		}
	}
	@media(max-width: 993px){
		width: 20em;
	}
	@media(max-width: 767px){
		margin: 3em 0;
	    font-size: 1.4em;
	    width: 100%;
	    padding: 0 15px;
	}
}

.sg-logo, .trinity-logo{
	position: absolute;
	bottom: 2em;
	left: 2em;
	display: block;
	width: 6em;
	@include transition(.2s all ease);
	img{
		width: 100%;
	}	
	@media(max-width: 767px){
		position: static;
		margin-top: 2em;
		float: left;
	}
}

.trinity-logo{
	left: auto;
	right: 2em;
	@media(max-width: 767px){
		float: right;
	}
}

.exhibits{
	background: url("../media/images/dotted_bg.svg");
	height: 320em;
	overflow: hidden;
	padding-top: 6em;
	@media(max-width: 767px){
		padding-top: 3em;
		padding-bottom: 3em;
		height: auto;
		overflow: none;
	}
	h2{
		font-size: 4em;
	    text-transform: uppercase;
	    border-bottom: .05em solid blue;
	    margin-bottom: 1.8em;
	    background: white;
		display: inline-block;
		@media(max-width: 767px){
			font-size: 2.4em;
		}
	}
	.exhibits-container{
		height: 100%;
		position: relative;
	}
	.exhibit{
		position: absolute;
		z-index: 0;
		&.hovered{
			z-index: 1;
		}
		@media(max-width: 767px){
			position: relative;
			width: 100% !important;
			left: auto !important;
			top: auto !important;
			right: auto !important;
			bottom: auto !important;
			margin-top: 1em;
		}
		img{
			width: 100%;
			display: block;
			cursor: url("../media/images/drag_cursor.svg") 40 40, auto;
		}
		.exhibit-info{
			background: blue;
			height: 7.5em;
			padding: 1em;
			position: relative;
		}
		h3, h4, #{$a-tags}{
			font-size: 0.76em;
			color: #fff;
			line-height: 1.1875em;
			margin: 0;
		}
		h3, #{$a-tags}{
			text-transform: uppercase;
		}
		h3{
			margin-bottom: .3em;
		}
		#{$a-tags}{
			border-bottom: .05em solid blue;
		}
		a{
			position: absolute;
			bottom: 1.5em;
		}		
	}
}

.quote-ticker{
	padding: 14em 0;
	position: relative;
	overflow: hidden;
	background: blue;
	@media(max-width: 767px){
		padding: 4em 0;
	}
	h1{
		position: absolute;
		white-space: nowrap;	    
	    margin: 0;
	    font-size: 12em;
	    left: 0;
	    color: white;
	    top: 50%;
	    text-transform: uppercase;
	    font-family:'Trade Gothic W01 Bold 2', sans-serif;
	    @include translate(0, -50%);
	   // -webkit-text-fill-color: blue;
	   // -webkit-text-stroke-width: 1px;
	   // -webkit-text-stroke-color: white;
	    @media(max-width: 767px){
	    	font-size: 3em;
		}	   
	}    
}

.essays{
	padding-top: 9em;
	padding-bottom: 8em;
	@media(max-width: 767px){
		padding-top: 4em;
		padding-bottom: 4em;
	}
	h2{
		font-size: 4em;
	    text-transform: uppercase;
	    border-bottom: .05em solid blue;
	    margin-bottom: 1.8em;
	    background: white;
		display: inline-block;
		@media(max-width: 767px){
			font-size: 2.4em;
		}
	}
	h3{
		font-size: 4em;
		line-height: 1.15em;
		text-transform: uppercase;		
		span{
			position: relative;
			border-bottom: .05em solid blue;
		}
		@media(max-width: 767px){
			font-size: 1.6em;
		}
	}
	h4{
		font-size: 2em;
		@media(max-width: 767px){
			font-size: 1em;
		}
	}
	.essay{
		display: block;
		background: white;
		margin-bottom: 5em;
		&:hover{
			#{$a-tags}{
				color: white;				
			}
			h3 span{
				background: blue;
				color: white;				
			}
		}
		@media(max-width: 767px){
			margin: 0;
			padding: .5em 0;
		}
	}
}

.newsletter-signup{	
	background: url("../media/images/dotted_bg.svg");
	@media(max-width: 767px){
		padding: 0 15px;
	}
	.newsletter-row{
		margin-top: 8em;
		margin-bottom: 8em; 
		display: flex;
		@media(max-width: 767px){
			display: block;
			margin-top: 4em;
			margin-bottom: 4em;
		}
	}
	.signup-col, .social-col{
		background: #fff;
		padding-top: 1em;
		padding-bottom: 1em;
		position: relative;
		@media(max-width: 767px){
			margin: 2em 0;
		}
		h4, li, input{
			font-size: 2em;
			line-height: 1.25em;
			list-style: none;
			-webkit-border-radius: 0;
			@media(max-width: 767px){
				font-size: 1.4em;
			}
		}
		ul{
			padding-left: 0;
		}
		li.heading{
			text-transform: uppercase;
			border-bottom: .05em solid blue;
		}
	}
	.form-container{
		position: absolute;
		bottom: 1em;;
		width: 100%;
		height: 4em;
    	overflow: hidden;
    	@include calc(width, "100% - 30px");
    	@include transition(.4s all ease);
    	@media(max-width: 767px){
			position: static;
			margin-top: 3em;
		}
    	&.focused{
    		height: 7.8em;
    	}
    	@media(max-width: 767px){
			height: 6em;
			&.focused{
				height: 6em;
			}
		}
		input{
			display: block;
			color: blue;
			border: none;
			outline: none;
			box-shadow: none;
			background: transparent;
			border-bottom: 2px solid blue;
			padding: .5em 0 .1em;
			@include input-placeholder{
				color: blue;
			}
			&[type="email"]{
				width: 100%;				
			}
			&[type="submit"]{
				float: right;
			}
		}
	}
}

//page style
.page-container{
	padding-top: 18em;
	@media(max-width: 767px){
		padding-top: 2em;
	}
}

.page-heading h1{
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    @media(max-width: 767px){
		font-size: 1.4em;
	}
}

.page-heading h2{
	font-size: 2em;
    margin: .2em 0 2em;
    @media(max-width: 767px){
		font-size: 1.4em;
	}
}

.page-image img{
	width: 100%;
}

.page-copy{
    margin-top: 8em;
    margin-bottom: 8em;
    @media(max-width: 767px){
		margin-top: 4em;
    	margin-bottom: 4em;
	}
    p, h3, a, ul li{
		font-size: 2em;
		line-height: 1.3em;		
		display: block;
		@media(max-width: 767px){
			font-size: 1.2em;
		}
	}
	li{
		display: list-item !important;
		list-style-type: disc;
	}
	p, ul{
		margin-bottom: 1.2em;
	}
	p a{
		display: inline !important;
		font-size: 1em;
	}
	ul{
		padding-left: 6em;
	}
	p.quote{
		padding-left: 3em;
		text-indent: -0.4125em;
	}
	p.footnote{
		width: 50%;
		font-size: 1.2em;
		@media(max-width: 767px){
			width: 100%;
			font-size: .8em;
		}
	}
	h3{
	    text-transform: uppercase;
	    display: inline-block;
	    border-bottom: .05em solid blue;
	    margin-bottom: .2em;
	    margin-top: 1.5em;
	}
}

.about-page-copy{
    margin-bottom: 8em;
    @media(max-width: 767px){
    	margin-bottom: 4em;
	}
    p, h2, h3, h4, a, ul li{
		font-size: 2em;
		line-height: 1.3em;		
		display: block;
		margin: 0;
		@media(max-width: 767px){
			font-size: 1.2em;
		}
	}
	h2{
		margin-top: 3.4em;
		&:first-of-type{
			margin-top: 0;
		}
	}
	h2, h4{
		margin-bottom: 1.4em;
	}
	p a{
		border-bottom: .05em solid blue;
		display: inline-block;
		font-size: 1em;
	}
	p{
		margin-top: 3.4em;
		margin-bottom: 3.4em;
	}
	p.link{
		font-size: 1.4em;
		margin: 0;
	}
	h2, h3{
		text-transform: uppercase;
	}
	h2{
		display: inline-block;
	    border-bottom: .05em solid blue;
	}
}

.next-page-links{
	font-size: 2em;
	margin-bottom: 4em;
	.previous{
		float: left;
	}
	.next{
		float: right;
	}
	@media(max-width: 767px){
		font-size: 1.4em;
	}
}

.page-dropdown{
	overflow: hidden;
    max-height: 12em;
    padding: 1em;
    border: 1px solid blue;
    margin-top: -1px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    @include calc(width, "100%, -30px");
    @media(max-width: 767px){
		max-height: 9em;
	}
    .page-heading{
    	position: absolute;
    	top: 6em;
    	@include translate(0, -50%);
    	@include calc(width, "100% - 2em");
    	z-index: 1;
    	@media(max-width: 767px){
			top: 4.5em;
		}
    }
    &.open{
    	max-height: 99999px;
    	.page-heading{
	    	top: 1em;
	    	@include transform(none);
	    }
    }
    h2{    	
    	margin: 2em 0 2em;   
    	line-height: 1.15em;
    	text-transform: uppercase;
    	.heading{
    		display: inline;
    		border-bottom: .05em solid blue;
    	}    
    	.open-icon, .hide-icon{
    		float: right;
    		cursor: pointer;
    		@media(max-width: 767px){
    			display: none;
    		}
    	}
    }
    img{
		padding-top: 13em;
	}
	&:last-of-type{
		margin-bottom: 8em;
	}
}

@media(min-width: 2000px){
	html,body{
		font-size: 21px;
	}	
	.container{
		width: 1770px;
	}
}

@keyframes "blink" {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-moz-keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-ms-keyframes "blink" {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-o-keyframes "blink" {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}