/*
Theme Name: John P. Delaney Architects Ltd.
Theme URI: http://www.jpdarchitects.ie
Description: JPD Architects Theme
Version: 1
Author: Rory McCormick and Brendan MacDonagh
Author URI: http://rorymccormick.ie/
*/

@import url('bootstrap/css/bootstrap.min.css'); 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover, a:link, a:visited {
	color: #444444;
	text-decoration: none;
}

section{
	display: block;
}

@font-face {
    font-family: 'dinlight';
    src: url('fonts/6da4ee95-df77-4c51-abb4-99943d41f3f8.eot');
    src: url('fonts/6da4ee95-df77-4c51-abb4-99943d41f3f8.eot?#iefix') format('embedded-opentype'),
         url('fonts/821b5526-82ce-4ecc-b718-f7dfa5191624.woff2') format('woff2'),
         url('fonts/72d8ce05-09be-4811-9071-e409c0c8bcad.woff') format('woff'),
         url('fonts/95e8a8f0-53f2-4a2e-bb2d-7c16b098f811.ttf') format('truetype');         
    font-weight: normal;
    font-style: normal;
}

/* reused CSS i.e. font fasmily size */

html, body{
	font-size: 16px;
	font-family: 'dinlight';	
	width: 100%;
	height: 100%;
	color: #232428;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
    color: #444444; 
}

.red{
	color: #f45058 !important;
}

p{
	font-size: 1.3125em;
	line-height: 1.385em;
}

.image-title{
	font-size: 0.8125em;
}

.image-title .light{
	color: #a7a7a7;
}

.mobile-slider-div{
	height: 100%;
	width: 100%;
	z-index: 10;
	position: absolute;
}

.mobile-left-arrow{
	bottom: 15px;
	left: 15px;
	width: 20px;
	position: absolute;
}

.mobile-right-arrow{
	bottom: 15px;
	right: 15px;
	width: 20px;
	position: absolute;
}

.mobile-right-arrow img{
	width: 20px;
}

.mobile-left-arrow img{
	width: 20px;
}

.body-container{
	position: absolute;
	width: 100%;
	height: 100%;
	right: 0;
	transition: .4s right ease;
}

.body-container.open{
	right: 50%;
}

.body-overlay{
	width: 100%;
	height: 100%;
	background: transparent;
	pointer-events: none;
	transition: .4s background ease;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.body-overlay.open{
	pointer-events: auto;
	background: rgba(0, 0, 0, .5);
	cursor: pointer;
}

.menu{
	font-family: 'dinlight';
	width: 50%;
    position: fixed;
    top: 0;
    height: 100%;
    background: #f45058;
    right: -50%;
    transition: .4s right ease;
    padding: 1.6em;
    font-size: 1.3125em;
    z-index: 10000;
    color: #fff;
}

.menu-inner-cont{
	position: relative;
	margin: 0;
}

.menu-logo{
	font-family: 'dinlight';
	float: left;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.menu-logo a{
	color: #fff;
}

.menu-logo a:hover{
	color: #fff;
}

.menu.open{
	right: 0;
}

.menu .navigation{
	margin-top: 4.5em;
	text-transform: uppercase; 
}

.menu .navigation li{
	line-height: 1.57em;
}

.menu .navigation li a, .menu .navigation li a:link, .menu .navigation li a:visited{
	color: #fff;
}

.menu .navigation li a:hover{
	color: #232428;
}

.menu-contact{
	position: absolute;
    bottom: 2em;
    width: calc(70% - 2em);
    font-size: 0.62em;
    line-height: 1.38em;
}

.menu-contact .address, .menu-contact .contact{
	width: 50%;
	float: left;
}

.menu-contact a{
	color: #fff;
}

.menu-contact i{
	font-size: .8em;
	padding-right: .3em;
}

header{
	padding: 1.6em 0;
	position: fixed;
	top: 0;
	font-size: 1.3125em;
	width: 100%;
	background: #fff;
	z-index: 11;
}

header.container{
	position: relative;
}

header .logo{	
	float: left;
	text-transform: uppercase;
	line-height: 0;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

header .logo a:hover{
	color: #f45058;
}

.header-inner-cont{
	position: relative;
	margin-left: 0;
	margin-right: 0;
}

.hamburger-menu{	
	float: right;
	cursor: pointer;
	height: 2em;
	width: 2em;
	position: relative;
	z-index: 1;
	transition: .2s all ease;	
}

.hamburger-menu img{	
	width: 100%;
}

.menu-slide-out{
	position: absolute;
	right: 0;
	background: #a7a7a7;
	height: 2em;
	width: 2em;
	overflow: hidden;
	color: #fff;	
	border-radius: 4em;
	transition: .2s all ease;
}

.menu-slide-out span{	
	font-size: .7em;	
	position: absolute;
	top: 45%;
	left: 1em;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hamburger-menu:hover{	
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.hamburger-menu:hover + .menu-slide-out{	
	width: 5em;
}

.close-menu{	
    float: right;
	cursor: pointer;
	height: 2em;
	width: 2em;
	position: relative;
	z-index: 1;
	transition: .2s all ease;	
}

.close-menu img{	
    width: 100%;
}

.close-slide-out{
	position: absolute;
	right: 0;
	background: rgba(255, 255, 255, .8);
	height: 2em;
	width: 2em;
	overflow: hidden;
	color: #444444;	
	border-radius: 4em;
	transition: .2s all ease;
}

.close-slide-out span{	
	font-size: .7em;	
	position: absolute;
	top: 45%;
	left: 1em;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.close-menu:hover{	
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.close-menu:hover + .close-slide-out{	
	width: 5em;
}

.main-container{
	padding-top: 5.3em;
	height: 100%;
}

.home-image-slider-container{
	height: 74%;
    min-height: 400px;
    max-height: 800px;
    margin-top: 4%;
    margin-bottom: 7em;
    position: relative;
}

.left-arrow-hover, .right-arrow-hover{
	position: absolute;
	width: 50%;
	height: 100%;
	z-index: 1;
}

.left-arrow-hover{
	left: 0;
	cursor: url(images/left-arrow.png), w-resize;
}

.right-arrow-hover{
	right: 0;
	cursor: url(images/right-arrow.png), e-resize;
}

.home-image-slider-container .container, .home-image-slider-container .row{
	height: 100%;
}

.slider-arrow, .slide-logo{
	height: 100%;
	position: relative;
	font-family: 'dinlight';
}

.slider-arrow span{
	position: absolute;
	top: 50%;
	left: 15px;
	font-size: 1.3125em;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	cursor: pointer;
}

.slider-arrow span:hover{
	color: #f45058;
}

.slide-logo span{
	position: absolute;
	top: 50%;
	right: 15px;
	font-size: 1.3125em;
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}

.home-image-slider, .image-container{
	height: 100%;
}
.image-container{
	position: relative;
}

.image-div{
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	opacity: 0;
	transition: .4s all ease;
}

.image-div.current{
	opacity: 1;
}

.slide-info{
	padding: .8em 0;
	position: relative;
}

.slide-info .image-title{
	position: absolute;
	opacity: 0;
	transition: .4s all ease;
}

.slide-info .light{
	display: block;
	padding-top: .4em;
}

.slide-numbers{
	color: #a7a7a7;
	font-size: .8125em;
	float: right;
}

.slide-info .image-title.current{	
	opacity: 1;
}

.about-text, .right-home-project{
	padding-left: 3.75em;
}

.home-projects{
	padding: 7em 0;
}

.left-home-project{
	padding-right: 3.75em;
}

.right-home-project{
	margin-top: 12em;
}

.right-home-project, .left-home-project, .project, .similar-project{
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 340px;    
    position: relative;
}

.right-home-project, .left-home-project{
    top: 4em;
    opacity: 0;
    transition: .4s all ease;
}

.right-home-project.scrolled, .left-home-project.scrolled{
    top: 0;
    opacity: 1;    
}

.project{
	height: 240px;    
    margin-bottom: 30px;
}

.similar-project{
	height: 175px;
	margin-top: 30px;
}

.project-overlay{
	color: #fff;
	background: rgba(244, 80, 88, .9);
	height: 100%;
	opacity: 0;
	transition: .3s all ease;
	cursor: pointer;
}

.project-overlay:hover{
	opacity: 1;
}

.project-title{
	padding: 15px;
	line-height: 1.3125em;
}

.project-title span{
	color: #444444;
	display: block;	
}

.project-overlay .view-icon{
	position: absolute;
	bottom: 15px;
	right: 30px;
}

.left-home-project .project-overlay .view-icon{
	right: calc(3.75em + 15px);
}

/* pages */

.page-title-container{	
	line-height: 1.2em;
	position: relative;
}

.page-title-container h1, .page-title-container h2{
	text-transform: uppercase;	
	font-size: 1.3125em;
	line-height: 1.3em;
}

.page-title-container h1.red, .page-title-container h2.red{
	text-transform: uppercase;	
	font-size: 1.3125em;
	color: #f45058;
}

.page-title-container a:hover{
	color: #f45058;
}

.similar-projects-container h2{
	text-transform: uppercase;	
	font-size: 1.3125em;
	margin: 2em 0 .8em;
}

.similar-projects-container h2.red{
	text-transform: uppercase;	
	font-size: 1.3125em;
	color: #f45058;
}

.page-title-container li{
	font-size: 1.3125em;
	padding-bottom: .4em; 
}

.page-title-row{
	padding: 3em 0;
}

.page-title h1.about-title, .page-title h2.about-title{
	margin-bottom: 2em;
}

.about-filters h2{
	display: inline-block;
	padding-right: 1.4em;
	margin: 1em 0 !important;
}

.about-filters h2 a:hover{
	color: #f45058;
}

#people, #services, #clients, #careers{
	border-top: 1px solid #f0f0f4;
	padding: 3em 15px;

}

#people img{
	max-width: 100%;
}

#people .person{
	display: block;
	font-size: 1.3125em;
    line-height: 1.285em;
    margin-top: 1em;
}

#people .role{
	display: block;
	font-size: 1.3125em;
    line-height: 1.285em;
	color: #a7a7a7;
	margin-bottom: 3em;
}

.clients-list{
	font-size: 0.76em; 
}

.page-sub-title{
	position: relative;
}

.page-sub-title h3{
	font-size: 1.3125em;
}

.page-sub-title h4{
	color: #f45058;
	padding: .5em 0 3em;
}

.share-links ul{
	float: right;
}

.share-links li{
	display: inline-block;
    font-size: .8em;
    padding-left: 1.5em;
}

.share-links li.share{	
    font-size: 1em;    
}

.cat-dropdown-link h2:hover{
	color: #f45058;
}

.cat-dropdown-link{
	cursor: url(images/down-arrow.png), auto;
}

.cat-dropdown-link.open{
	cursor: url(images/up-arrow.png), auto;
}

.cat-dropdown-link span{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	transform-origin: center center;
	transition: .2s all ease;
	display: inline-block !important;
	margin-left: .5em;
}

.cat-dropdown-link span img{
	height: 1.2em;
}

.cat-dropdown-link.open span{
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

.cat-dropdown-menu{
	margin-bottom: 8%;
    background: #fff;
    z-index: 10;
    max-height: 0;
    overflow: hidden;
    transition: .4s all ease;
    position: absolute;
    width: 100%;
}

.cat-dropdown-menu.open{
	max-height: 400px;
}

.cat-dropdown-menu ul{
	padding-bottom: 8%;
}

.cat-dropdown-menu ul li{
	line-height: 1.285em;	
}

.cat-dropdown-menu ul li a:hover{
	color: #f45058;
}

/* page */

.page-small-images img, .page-image img{
	width: 100%;
}

.small-image{
	position: relative;	
}

.page-image{
	margin-top: 3em;
	margin-bottom: 3em;
}

figure.image-desc{
	font-size: .8125em
}

.page-copy{
	margin-top: 6em;
	margin-bottom: 6em;
}

.page-info{
	padding-bottom: 1.3em;
}

.page-info h4{
	font-weight: normal;
	color: #a7a7a7;
	font-size: .8125em;
	line-height: 1.385em;
}

.page-info h4.title{
	color: #444444;
}

.page-text{
	font-size: 1.3125em;
	line-height: 1.285em;
}

.small-image img{
	margin: 30px 0;
}

.large-image, .small-image, .page-image{
	-webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.large-image, .page-image{
	height: 760px;
}

.large-image, .small-image{
	margin: 30px 0;
}

.small-image{
	height: 370px;
}

/* news */

.news-info{
	margin-top: -1em;
}

.news-info h3{
	font-size: 1.3125em;
    line-height: 1.2em;
    padding-bottom: .3em;
}

.news-info h4{
	color: #f45058;
}

.news-info article{
	padding-top: 1.4em;
	padding-bottom: 4.4em;
    line-height: 1.3125em;
}

#mapCanvas{
	height: 80%;
}

.similar-projects-container{
	margin-top: 2em;
}

footer{
	font-family: 'dinlight';
	padding: 4em 0;
	font-size: .8125em;
	line-height: 1.38em;
}

footer .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
}

footer i{
	padding-right: .3em !important;
    font-size: .8em !important;
}

footer .designed-by{
	position: relative;
}

footer .designed-by span{
	position: absolute;
    right: 15px;
    bottom: 0;	
}

footer .designed-by a{
	color: #f45058;
}

@media(min-width: 2000px){
	body{
		font-size: 21px;
	}
	.container{
		width: 1770px;
	}
	.right-home-project, .left-home-project{
		height: 528px;
	}
	.project{
		height: 374px;
	}
	.similar-project{
		height: 295px;
	}
	.large-image, .page-image{
		height: 1160px;
	}
	.small-image{
		height: 570px;
	}
}

@media(min-width: 994px){
	.cat-dropdown-link span{		
		display: none !important;		
	}		
}

@media(min-width: 769px){	
	.small-image img.smaller{
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.page-small-images-row{
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
	}	
	img.smaller{
		padding-right: 30px;
	}	
}

@media(max-width: 1200px){
	.about-text{
		padding-left: 1.5em;
	}

	.left-home-project{
		padding-right: 1.5em;
	}

	.right-home-project{
		padding-left: 1.5em;
	}
	.right-home-project, .left-home-project{
		height: 298px;
		min-height: 10px;
	}
	.project{
		height: 196px;
	}
	.similar-project{
		height: 142px;
	}
	.large-image, .page-image{
		height: 627px;
	}
	.small-image{
		height: 303px;
	}
}

@media(max-width: 993px){
	.menu{
		width: 100%;
		right: -100%;
		padding: 1.2em 15px;
	}

	.home-image-slider-container{
		max-height: none;
		min-height: 10px;
		height: 60%;
		margin-top: 0;		
		margin-bottom: 70%;
	}

	.about-text{
		padding-left: 15px;
	}

	.home-projects{
		padding: 3em 0;
	}

	.left-home-project, .right-home-project, .project{		
		margin-top: 2em;
		max-height: none;
		min-height: 10px;		
	}	

	.right-home-project, .project{
		margin-top: 2em;
		max-height: none;
		min-height: 10px;		
	}

	.right-home-project, .left-home-project{
		height: 282px;
	}

	.project, .similar-project{
		height: 230px;
	}	

	.cat-dropdown-link{
		cursor: pointer;
	}

	.cat-dropdown-link.open{
		cursor: pointer;
	}

	.large-image, .page-image{
		height: 480px;
	}
	.small-image{
		height: 230px;
	}	
	footer .row{		
		display: block;
	}
	footer .designed-by{
		margin-top: 1.4em;
	}
	footer .designed-by span{
		position: relative;
	    right: auto;
	    bottom: auto;	    
	}
}

@media(max-width: 767px){
	header{
		padding: 1.2em 0;
	}
	.main-container{
		padding-top: 4.2em;
	}
	.about-filters h2{
		margin: 0 0 1em !important;
	}
	.menu-contact .contact{
		width: 100%;
	}

	.left-home-project, .right-home-project{
		padding-right: 15px;
		padding-left: 15px;
	}

	.left-home-project, .right-home-project, .project, .similar-project, .large-image, .page-image, .small-image{
		height: 76vh;
		margin-top: 15px;
	}

	.page-sub-title h3{
		padding-top: 1em;
	}
	#mapCanvas{
		height: 50%;
	}
	.cat-dropdown-menu ul{
		padding-bottom: 0;
	}
	.page-title h1.about-title, .page-title h2.about-title{
		margin-bottom: 1em;
	}
	.hamburger-menu:hover{	
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	.hamburger-menu:hover .menu-slide-out{	
		width: 2em;
	}
}

@media(max-width: 640px){
	.left-home-project, .right-home-project, .project, .similar-project, .large-image, .page-image, .small-image{		
		height: 64vh;
	}
}

@media(max-width: 540px){
	.left-home-project, .right-home-project, .project, .similar-project, .large-image, .page-image, .small-image{		
		height: 54vh;
	}
}

@media(max-width: 440px){
	.left-home-project, .right-home-project, .project, .similar-project, .large-image, .page-image, .small-image{		
		height: 44vh;
	}
}