body{
	font-size: 16px;
	color: #231f20;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

h1, h2, h3, h4, h5, p{
	margin: 0;
}

h1{
	font-size: 3em;
	line-height: 1em;
	font-family: 'Crimson Text', serif;
	margin-top: .4em;
	@media(max-width: 767px){
		font-size: 2.25em;
		line-height: 1.02em;
	}
}

h2{
	font-size: .875em;
	line-height: 1em;
	font-family: 'PT Sans', sans-serif;
	padding: 0;
	font-weight: 700;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: #999;
    border-top: 1px solid #999;    
    span{
        display: block;
    	margin-top: -0.5em;
    	span{
    		background: #fff;
    		display: inline;
    		padding-right: .5em;
    	}
    }
    @media(max-width: 767px){
		text-align: center;
		span span{
			padding-left: .5em;
		}		
	}
}

h3{
	font-size: 1.625em;
	font-family: 'Crimson Text', serif;
	line-height: 1.346em;
}

h4{
	font-size: 1.125em;
	font-family: 'Crimson Text', serif;
	line-height: 1.22em;
}

h5{
	font-size: 0.625em;
	font-weight: 700;
	letter-spacing: .1em;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	color: #999;
	margin: 2em 0;
}

p{
	font-size: 1em;
	line-height: 1.4375em;
	font-family: 'Merriweather', serif;
	margin-bottom: 2em;
}

a{
	color: #231f20;
	text-decoration: none;
	&:hover, &:link, &:visited, &:active{
		color: #231f20;
		text-decoration: none;
	}
}

//header

header{
	background: #fff;
	z-index: 2;
	&.scrolled{
	    position: fixed;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    transform: translateX(-50%);
	}
	.header{
		position: relative;
	}
	aside{
	    position: absolute;
	    width: 100%;
	    margin-top: -1px;
	    z-index: 1;
	    opacity: 0;
	    pointer-events: none;
	    transition: .2s all ease;
	    &.open{
	    	opacity: 1;
	    }
	}
	@media(max-width: 767px){
		position: fixed;
		width: 100%;
		border-bottom: 1px solid #231f20;
	}
}

.top-bar-header{
	text-transform: uppercase;
    font-size: .625em;
    letter-spacing: .1em;
    .subscribe-btn{
    	text-align: left;
    	a{
    		color: #fff;
    		background: #6a6565;
    		padding: 1em 2em;
    		font-weight: 700;
    		display: inline-block;
    	}
    }
    .date{
    	text-align: center;
    }
    .login-links{
    	text-align: right;
    }
    .date, .login-links{
    	padding-top: 1em;
    	padding-bottom: 1em; 
    }
}

.middle-bar-header{
	position: relative;
	font-size: .8125em;
	letter-spacing: .025em;
	.desktop-logo{
	    padding-top: 1.5em;
    	padding-bottom: 1.5em;
    	a{
    	    display: block;
    		text-align: center;
    		img{
    			width: 100%;
    			@media(min-width: 992px){
		    		width: 75%;
		    	}
    		}
    	}    	
	}
	.temp-cont, .top-screen-search{
		position: static;
	}
	.temp, .search-click{
		position: absolute;
		left: 15px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.search-click{
		left: auto;
		right: 15px;
		span{
			padding-left: .3em;
		}
		img{
			width: 1em;
		}
	}
}

.bottom-bar-header{	
    position: relative;
    font-size: .6875em;
    .scroll-logo{
        position: absolute;
	    display: block;
	    height: 100%;
	    width: 2em;
	    height: 2em;
	    padding: 1.2em 0;
	    img{
	    	width: 100%;
	    }
	    opacity: 0;
	    transition: .3s all ease;
	    pointer-events: none;
	    &.scrolled{
	    	opacity: 1;
	    	pointer-events: auto;
	    }
	    @media(max-width: 767px){
	    	opacity: 1;
	    	pointer-events: auto;
	    	width: 2.72em;
	    	padding-top: 1.2em;
    		padding-bottom: 1.2em;
	    }
    }
    .search-scrolled{
    	position: absolute;
	    top: 50%;
	    right: 0;
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    transform: translateY(-50%);
	    font-size: 1.2em;
    	letter-spacing: .025em;
	    span{
			padding-left: .3em;
		}
		img{
			width: 1em;
		}
		opacity: 0;
	    transition: .3s all ease;
	    pointer-events: none;
	    &.scrolled{
	    	opacity: 1;
	    	pointer-events: auto;
	    }
    }
    .hamburger-btn{
    	float: right;
    	height: 2em;
    	width: 2.36em;
    	position: relative;
    	margin: 1.1em 0;
    	.bar{
    		display: block;
    		width: 100%;
    		height: 2px;
    		background: #231f20;
    		position: absolute;
    		-webkit-transform: none;
			-moz-transform: none;
			transform: none;
    		&.top-bar{
    			top: 2px;
    		}
    		&.middle-bar{
    			top: 50%;
    			-webkit-transform: translateY(-50%);
    			-moz-transform: translateY(-50%);
    			transform: translateY(-50%);
    		}
    		&.bottom-bar{
    			bottom: 2px;
    		}
    		transition: .2s all ease;
    	}
    	&.clicked{
    		.top-bar{
    			top: 50%;
    			-webkit-transform: translateY(-50%);
    			-moz-transform: translateY(-50%);
    			transform: translateY(-50%);
    		}
    		.bottom-bar{
    			bottom: 50%;
    			-webkit-transform: translateY(50%);
    			-moz-transform: translateY(50%);
    			transform: translateY(50%);
    		}
    	}
    	&.active{
    		.top-bar{
    			top: 50%;
    			-webkit-transform: rotate(45deg) translateY(-50%);
    			-moz-transform: rotate(45deg) translateY(-50%);
    			transform: rotate(45deg) translateY(-50%);
    		}
    		.middle-bar{
    			display: none;
    		}
    		.bottom-bar{
    			bottom: 50%;
    			-webkit-transform: rotate(-45deg) translateY(50%);
    			-moz-transform: rotate(-45deg) translateY(50%);
    			transform: rotate(-45deg) translateY(50%);
    		}
    	}
    }
	ul{
		padding-left: 0;
		text-align: center;
		margin: 0;
		font-weight: 700;		
		letter-spacing: .1em;
		text-transform: uppercase;
		li{
			list-style: none;
			display: inline-block;
			cursor: pointer;
			transition: .2s all ease;
    		padding: 1.2em;
			&:hover{
				&.news-link{
					color: #ff8b8b;
				}
				&.sport-link{
					color: #22dbbc;
				}
				&.business-link{
					color: #51b6ff;
				}
				&.opinion-link{
					color: #ffcd57;
				}
				&.life-link{
					color: #ffa651;
				}
				&.culture-link{
					color: #bd92f8;
				}				
			}
		}
	}
	@media(min-width: 768px){
		border-bottom: 1px solid #231f20;
	}
}

.mobile-menu{
	position: fixed;
	width: 90%;
	background: #fff;
	height: 100%;
	z-index: 1;
	border-right: 1px solid #231f20;
	top: 0;
	left: -100%;
	-webkit-box-shadow: 5px 0px 8.8px 1.2px rgba(229, 229, 229, 0.6); 
	-moz-box-shadow: 5px 0px 8.8px 1.2px rgba(229, 229, 229, 0.6); 
	box-shadow: 5px 0px 8.8px 1.2px rgba(229, 229, 229, 0.6); 
	transition: left .3s ease;
	padding: 50px 15px 0;
	.date{
		font-size: .625em;
		text-transform: uppercase;
		padding: 3.5em 0 2em;
	}
	.bottom-links{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: .8125em;
		text-transform: uppercase;
		.login-links, .subscribe-link{
			padding: 1em 15px;
		}
		.subscribe-link{
			background: #6a6565;
			color: #fff;
		}
	}
	.mobile-nav{
		ul{
			padding-left: 0;
			li{
				list-style: none;
				font-size: 1em;
				line-height: 2.125em;
				text-transform: uppercase;
				position: relative;
				span{
					display: inline-block;
				}
				.mobile-dash{
					width: .8em;
					height: 1px;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
				.mobile-link{
					padding-left: 1.4em;
				}
			}
		}
	}
	&.open{
		left: 0;
	}
}

.dropdown{
	color: #fff;
	background-clip: content-box !important;
	opacity: 0;
	pointer-events: none;
	transition: .2s all ease;
	&.open{
		opacity: 1;
		pointer-events: auto
	}
	.dropdown-row{
		padding-top: 3.4375em;
		opacity: 0;
		pointer-events: none;
		transition: .2s all ease;
		&.open{
			opacity: 1;
			pointer-events: auto
		}	
	}	
	h2{
		font-size: .75em;
		color: #fff;
		border-color: #fff;
		margin-bottom: 2em;
		&.category-header{
			margin-bottom: 1em;
    		margin-top: 3em;
		}
	}
	h5{
		color: #e3e3e3;
		margin: 1em 0 3em;
	}
	ul{
		padding-left: 0;
		margin-bottom: 3em;
		li{
			display: inline-block;
			padding-right: 2em;
			font-size: .625em;
			list-style: none;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: .1em;
		}
	}
}

//main stories top banner

main{
	margin-bottom: 8em;
	@media(max-width: 767px){
		padding-top: 50px;
	}
}

.main-stories{
	text-align: center;
	padding-top: 6em;
	padding-bottom: 10em;
	position: relative;	
	.row{
		display: -webkit-flex;
		display: -moz-flex;
		display: flex;
		flex-wrap: wrap;
	}
	h2{
		border: none;
		font-size: 1em;
		margin-top: 2em;
	}
	a{
	    font-size: .625em;
	    text-transform: uppercase;
	    font-weight: 700;
	    letter-spacing: .1em;
	    border: 1px solid;
	    padding: .8em 2.4em;
	    display: inline-block;
	}

	@media(max-width: 767px){
		padding-top: 4em;
		padding-bottom: 7em;
		h1{
			margin-top: .6em;
		}
		h2{
			font-size: .875em;
			margin-top: 2.4em;
		}
		a{
			margin-top: 1em;
		}
	}

	.main-story{
		display: none;
		opacity: 0;
		transition: .4s all ease;
		&.fade-out{
			opacity: 0;
		}
		&.active{			
			display: block;
		}
		&.fade-in{
			opacity: 1;
		}
	}

	.main-story-links, .main-story-links-mobile{
		ul{
			padding-left: 0;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);
			width: -webkit-calc(100% - 30px);
			width: -moz-calc(100% - 30px);
			width: calc(100% - 30px);
			li{				
				font-size: .75em;
				list-style: none;
				cursor: pointer;
				line-height: 2.4em;
				color: #999;
				transition: .2s all ease;
				@media(max-width: 992px){
					display: inline-block;
					font-size: 11px;
					padding: 0 .6em;					
				}
			}
			span{
				display: inline-block;
				vertical-align: middle;
			}
			.outer-circle{
				width: 1em;
				height: 1em;
				border: 1px solid #e3e3e3;
				border-radius: 1em;
				position: relative;
				overflow: hidden;
				margin-right: .3em;
				transition: .1s all ease;
				@media(max-width: 992px){
					margin: 0;
				}
				.inner-circle{
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					width: 100%;
					height: 100%;
					display: block;
					transition: .2s all ease;
				}
			}
			.main-story-title{
			    width: -webkit-calc(100% - (1.8em + 2px));
			    width: -moz-calc(100% - (1.8em + 2px));
			    width: calc(100% - (1.8em + 2px));
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;			    
			}

			li.active{
				.inner-circle{
					opacity: 1;
				}
			}
			
			li.active, li:hover{
				&.news{
					color: #ff8b8b;
					.outer-circle{
						border-color: #ff8b8b;
						.inner-circle{
							background: #ff8b8b;
						}
					}
				}
				&.sport{
					color: #22dbbc;
					.outer-circle{
						border-color: #22dbbc;
						.inner-circle{
							background: #22dbbc;
						}
					}
				}
				&.business{
					color: #51b6ff;
					.outer-circle{
						border-color: #51b6ff;
						.inner-circle{
							background: #51b6ff;
						}
					}
				}
				&.opinion{
					color: #ffcd57;
					.outer-circle{
						border-color: #ffcd57;
						.inner-circle{
							background: #ffcd57;
						}
					}
				}
				&.life{
					color: #ffa651;
					.outer-circle{
						border-color: #ffa651;
						.inner-circle{
							background: #ffa651;
						}
					}
				}
				&.culture{
					color: #bd92f8;
					.outer-circle{
						border-color: #bd92f8;
						.inner-circle{
							background: #bd92f8;
						}
					}
				}				
			}
		}	
	}	
}

.main-story-arrows{
	margin-top: 3em;
	position: relative
}

.main-story-links-mobile{
	position: absolute;
    width: 100%;
    top: 50%;
    pointer-events: none;
}

.left-arrow{
	float: left;
}
.right-arrow{
	float: right;
}

//latest news

.latest-news{
	padding-bottom: 8em;
	h3 {
	    font-size: 1.625em;
	    font-family: 'Crimson Text', serif;
	    line-height: 1.346em;
	    margin-top: 2.4em;
	    span{
			border-bottom: 1px solid;
			cursor: pointer;
			padding-bottom: .1em;
			&:hover{
				border-color: #231f20 !important;
			}
		}
		@media(max-width: 768px){
			font-size: 1.3125em;			
			line-height: 1.476em;
			margin-top: 1.8em;
		}
	}
	@media(max-width: 768px){
		padding-bottom: 4em;
		.col-sm-6{
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.category-news{
	h2{
		margin-bottom: 2.4em;
		margin-top: 2.4em;
	}
	.cat-cont{
		margin-bottom: 4em;
	}
	.cat-article{
		margin-bottom: 1.5em;
		h5{
			margin: 1em 0;
		}
		@media(max-width: 767px){
			width: 90%;
    		margin-left: auto;
    		margin-right: auto;
		}
	}
}

.most-read-cont{
	background: #6a6565;
    background-clip: content-box;
    color: #fff;
    h2{
    	color: #fff;    	
    	border-color: #fff;
    	span span{
    		background: #6a6565;
    	}
    }
    h5{
    	margin: 1em 0;
    }
    .most-read-inner{
        padding-left: 15px;
    	padding-right: 15px;
    }
    .read-article{
    	margin-bottom: 1.5em;
    }
    .read-article div{
        display: inline-block;
    	vertical-align: top;
    }
    .read-num{
    	width: 1.5em;
    	font-family: 'PT Sans', sans-serif;
		font-weight: 700;
    }
    .read-title{
    	width: -webkit-calc(100% - 2em);
    	width: -moz-calc(100% - 2em);
    	width: calc(100% - 2em);
    }
    @media(max-width: 992px){
		padding-top: 2.4em;
	}
}

//css for category colors

.news-text{
	color: #ff8b8b;
}

.sport-text{
	color: #22dbbc;
}

.business-text{
	color: #51b6ff;
}

.opinion-text{
	color: #ffcd57;	
}

.life-text{
	color: #ffa651;
}

.culture-text{
	color: #bd92f8;
}

.news-bg{
	background: #ff6f6f;
}

.sport-bg{
	background: #06d6b3;
}

.business-bg{
	background: #3badff;
}

.opinion-bg{
	background: #ffc741;
}

.life-bg{
	background: #ff9b3b;
}

.culture-bg{
	background: #b484f7;
}

.more-bg{
	background: #231f20;
}

.news-under{
	border-color: #ff6f6f !important;
}

.sport-under{
	border-color: #06d6b3 !important;
}

.business-under{
	border-color: #3badff !important;
}

.opinion-under{
	border-color: #ffc741 !important;
}

.life-under{
	border-color: #ff9b3b !important;
}

.culture-under{
	border-color: #b484f7 !important;
}