/*
Theme Name: Bea Healthy Nutrition
Theme URI: http://www.beahealthynutrition.ie
Description: Bea Healthy Nutrition Custom Theme
Version: 1
Author: David Galligan and Brendan MacDonagh
Author URI: http://www.bmacdportfolio.com
*/

@import url('bootstrap/css/bootstrap.min.css'); 

@font-face {
    font-family: 'latoblack';
    src: url('fonts/lato-black-webfont.eot');
    src: url('fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-black-webfont.woff2') format('woff2'),
         url('fonts/lato-black-webfont.woff') format('woff'),
         url('fonts/lato-black-webfont.ttf') format('truetype'),
         url('fonts/lato-black-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* reused CSS i.e. font fasmily size */

html, body{
	font-size: 16px;
	font-family: 'latoblack';
	width: 100%;
	height: 100%;
	color: #232428;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;     
}

main.main-container{
	padding-top: 69px;
	width: 100%;
	height: 100%;
}

h1{
	font-family: 'latoblack';
	font-size: 4.5em;
	text-transform: uppercase;	
	color: #fff;		
	margin: 0;
	text-align: center;
}

h2{
	font-family: 'Lato';
	font-size: 1.25em;
	text-transform: uppercase;
	letter-spacing: .05em;
	text-align: center;
	margin: 3.8em 0 2.5em;
}

h3{
	font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 2.25em;	
	line-height: 1.1em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1.2em;
}

h4{
	font-family: 'latoblack';
	font-size: .875em;
	text-transform: uppercase;	
}

input{
	outline: none;
	-webkit-appearance: none;
}

p{
	font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 1.25em;
	line-height: 1.5em;	
}

p.small{
	font-size: .875em;
	line-height: initial;
}

ul{
	padding: 0;
	margin: 0;
}

ul li{
	list-style: none;
}

a{
	color: #232428;
}

a:hover{
	text-decoration: none;
	color: #ffc501;
}

a.box-link{
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffc501;
	font-size: .875em;
	padding: 1em 2em;
	transition: .2s background ease;
	display: inline-block;
	margin: 1.8em 0 3em;
}

a.box-link:hover{
	color: #232428;
	background: #ffc501;
}

/* header CSS */

header{
	font-size: 0.75em;	
	padding-top: 2.2em;
	padding-bottom: 2.2em;
	text-transform: uppercase;
	background: #fff;
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
}

header a.logo{
	color: #ffc501;
	float: left;
}

header nav{	
	float: right;
}

header nav ul li{	
	display: inline-block;
	padding-left: 3em;
	color: #232428;
	cursor: pointer;
}

header nav ul li.clicked{	
	color: #ffc501;  
}

.arrow-down{
	width: 0;
    height: 0;
    border-left: 0.4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .4em solid #232428;    
    display: inline-block;
    margin: 0 0 0.2em .1em;
}

.arrow-down.clicked{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	border-top: .4em solid #ffc501;  
}

header nav ul li:hover{		
	color: #ffc501;  
}

.services-dropdown-link{
	position: relative;
}

ul.services-dropdown{	
    position: absolute;    
    width: 25em;
    top: 3.7em;
    padding: 0 0 .2em 0;
    left: 2em;
    background: #fff;
}

ul.services-dropdown li{	
    display: block;
    padding: .7em 0 .7em 1em;
}

header nav ul li:hover > .arrow-down{		
	border-top: .4em solid #ffc501; 
}

header .hamburg-menu{
	float: right;
    width: 24px;
    height: 17px;
    padding: 3px 0;
}

header .hamburg-menu .bar{
	width: 24px;
    position: absolute;
    height: 2px;
    background: #ffc501;
    display: block;
    top: 6px;
}

header .hamburg-menu .bar:nth-of-type(1){
	top: 3px;	
}

header .hamburg-menu .bar:nth-of-type(2){
	top: 9px;	
}

header .hamburg-menu .bar:nth-of-type(3){
	top: 15px;
}

header .hamburg-menu.clicked .bar:nth-of-type(1){
    top: 9px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

header .hamburg-menu.clicked .bar:nth-of-type(2){
	opacity: 0;
}

header .hamburg-menu.clicked .bar:nth-of-type(3){
	top: 9px;
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

aside.side-menu{
	position: fixed;
    height: 0;
    overflow: hidden;
    padding-top: 72px;
    width: 100%;
    background: #fff;    
    z-index: 1;
    transition: .4s height ease;
}

aside.side-menu.open{
	height: 100%;
}

aside.side-menu ul{
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

aside.side-menu ul li{
    line-height: 1.1em;
    padding: .3em 0 0;
}

aside.side-menu ul li.break{
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 1em 0;
	background: #ffc501;
	display: inline-block;
}

aside.side-menu ul li.social{	
	line-height: 1.3em;	
	color: #ffc501;
}

aside.side-menu ul li.social a{	
	color: #ffc501;
}

/* main home image */
.main-home-slider-container{
	width: 100%;
	height: 100%;
	position: relative;	
	overflow: hidden;
}
.main-home-slider{
	height: 100%;	
	position: absolute;
	left: 0;
	transition:.4s all ease;
}

.slide-link:hover{
	color: #232428;
}

.main-home-image{
	width: 100vw;
	height: 100%;	
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	float: left;
	position: relative;
}

.main-home-image.first-slide{
	background-image: url("images/banner-image-test.jpeg");
}

.left-arrow, .right-arrow{
    position: absolute;
    top: 50%;    
    background: #fff;
    padding: .8em 1em;
    width: 3.4em;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.no-slides{
	opacity: .5;
}

.more-link{
	color: #fff;
	position: absolute;
	bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	cursor: pointer;
}

.more-text{
	display: block;
}

.more-arrow{
	width: 1em;
	margin: 0 auto;
}

.left-arrow{
	left: 0;
}

.right-arrow{
	right: 0;
}

.main-home-text{	
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	height: 80%;
}

.main-home-text h1{
	font-size: 3.5vw;
	line-height: 1.12em;
	width: 50%;
    position: absolute;
    left: 44%;
    color: #f4d900;
    opacity: .71;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.main-home-text span{	
	color: #ffc501;
}

.main-home-text img{	
	max-height: 80%;	
	max-width: 90%;
}

.main-home-text a.box-link{	
	background: #ffc501;	
}

/* about container */

.about-container, .contact-container{
	margin-bottom: 4em;
}

.about-container p{
	text-align: justify;
}

.about-container .row, .contact-container .row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}

.about-image{
	background: url("images/profile-image.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-clip:content-box;
}

/* Ethos Container */

.ethos-container{
	text-align: center;
	background: #fafafa;
	padding-bottom: 7em;
}

/* Ethos Container */

.testimonial-container{
	text-align: center;	
	padding-bottom: 3.5em;
	background: url("images/testimonials.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	color: #fff;
}

.quoter{
	font-size: 1.125em;
	float: right;
}

/* Posts Container */

.posts-container{
	padding-bottom: 3.5em;
	text-align: center;
}

.post{
	background: #f1f1f1;
	background-origin: border-box;
	background-repeat: no-repeat; 
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.post-1{
	height: 555px;
}

.post:not(.post-1){
	height: 262.5px;
}

.post-3, .post-6{
	margin-top: 30px;
}

.post-4{
	position: relative;
}

.post-4 .twitter-info{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	padding: 1em;
}

.post-4 .twitter-info a{
	font-size: 1.5em;
	color: #ffc501;
}

/* page */

.page-container{	
	margin-bottom: 6em;
}

.page-container h2, h3{	
	text-align: center;
}

.page-container img{	
	width: 100%;
	height: auto;
	margin-bottom: 5em;
}

.page-container h2{	        
    margin: 0 0 1.5em;
}

.page-container h3{	    
    font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-size: 2.8em;    
    margin-bottom: .5em; 
}

.page-container p, .page-container ul{
	margin-bottom: 2em;
}

p.disclaimer{	
	font-family: "latoblack";
	font-size: .7em;
    font-weight: bold;
}

.page-container ol{	
	font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 1.25em;
	line-height: 1.5em;	
	padding-left: 1em;
	margin: 3em 0;
}

.page-container ul{	
	font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 1.25em;
	line-height: 1.5em;	
	padding-left: 1em;
	margin: 3em 0;
	text-align: center;
}

.page-container ul li{
	padding: .5em 0;
}

/*.page-main-header{
    margin-top: 10em;
    margin-bottom: 1em;
}

.page-main-header:nth-of-type(1){
    margin-top: 6em;
    margin-bottom: 1em;
}*/

.page-main-header h2, .slide-main-header h2{
	margin: 2.5em 0 .9em;
}

.slide-main-header h3{
	padding: 0 1em;
	margin-bottom: 1.2em;
}

.page-main-header h3{
	padding: 0;
	margin-bottom: 0;
}

.page-banner img {
	margin: 2em 0;
}

.slide-main-header{	
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    width:26em;
    background: rgba(255, 197, 1, .6);
    max-width: 90%;    
}

/* prices */

.price-inner-container{
	text-align: center;
    padding: 30px;
    border: 1px solid;
}

.price-container{	
	margin-bottom: 30px;
}

.price-container span{	
	display: block;
    font-family: "Adobe Garamond Pro", Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    margin-top: 0;
    line-height: 1.3em;
    font-size: .8em;
}

.price-container p{	
	margin-bottom: 0 !important;
}

.price-title{
	font-size: .8em;
    display: block;
}

.price{
	display: block;
    font-size: 4em;
	margin-bottom: 0.5em;
}

/* contact */

#mapCanvas{
	width: 100%;
	height: 60vh;
	min-height: 300px;
	background-clip: content-box;
}

.gm-style{
	position: relative !important;
}

/* footer */

footer{
	background: #ffc501;
	padding-top: 6em;
	padding-bottom: 5em;
}

footer li{
	padding: .2em 0;
}

footer p, footer a{
	font-family: "Lato";
	font-size: 1em;
}

footer p .bold{
	font-weight: 700;
}

footer a:hover{
	color: #232428;
}

@media(max-width: 993px){
	.logo{
		font-size: 1.2em;
	}
	.about-container .row, .contact-container .row{
		display: block;
	}
	.about-image{
		min-height: 350px;
	}
	.post{
		height: 300px !important;
		margin: 15px 0 !important;
	}
	.post-4{
		margin: 0 0 15px !important;	
	}
	.page-main-header{
		position: relative;
	    top: 0;
	    -webkit-transform: none;
	    -moz-transform: none;
	    transform: none;
	    background: transparent;
	}
	.page-main-header h3{
		padding: 0;
		margin-bottom: 0;
	}
	.slide-main-header{	
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%); 
	    width:34em;
	    max-width: 90%;    
	}
	.slide-main-header h3{
		padding: 0 1em;
		margin-bottom: 1.2em;
	}
	.contact-details:first-of-type{
		margin-top: 2em;
	}
}

@media(max-width: 768px){
	.about-image{
		margin-bottom: 30px;
	}
	.page-container h3{	    
	    font-size: 2.4em;
	}
	.price-container{				
		margin-bottom: 15px;		
	}
	.main-home-image.first-slide{
		background-image: url("images/banner-image-mobile.jpeg");
	}
	.main-home-text h1{
		font-size: 8vw;
		width: 80%;
	    left: 50%;
	    left: 50%;	    
	    -webkit-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}
}

@media(max-width: 600px){
	.main-home-text{
		height: auto;
	}
}

@media(min-width: 2000px){
	body{
		font-size: 21px;
	}
	.container{
		width: 1500px;
	}
}
