body {
  font-size: 16px;
  color: #231f20;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

h1 {
  font-size: 3em;
  line-height: 1em;
  font-family: 'Crimson Text', serif;
  margin-top: .4em; }
  @media (max-width: 767px) {
    h1 {
      font-size: 2.25em;
      line-height: 1.02em; } }

h2 {
  font-size: .875em;
  line-height: 1em;
  font-family: 'PT Sans', sans-serif;
  padding: 0;
  font-weight: 700;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: #999;
  border-top: 1px solid #999; }
  h2 span {
    display: block;
    margin-top: -0.5em; }
    h2 span span {
      background: #fff;
      display: inline;
      padding-right: .5em; }
  @media (max-width: 767px) {
    h2 {
      text-align: center; }
      h2 span span {
        padding-left: .5em; } }

h3 {
  font-size: 1.625em;
  font-family: 'Crimson Text', serif;
  line-height: 1.346em; }

h4 {
  font-size: 1.125em;
  font-family: 'Crimson Text', serif;
  line-height: 1.22em; }

h5 {
  font-size: 0.625em;
  font-weight: 700;
  letter-spacing: .1em;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  color: #999;
  margin: 2em 0; }

p {
  font-size: 1em;
  line-height: 1.4375em;
  font-family: 'Merriweather', serif;
  margin-bottom: 2em; }

a {
  color: #231f20;
  text-decoration: none; }
  a:hover, a:link, a:visited, a:active {
    color: #231f20;
    text-decoration: none; }

header {
  background: #fff;
  z-index: 2; }
  header.scrolled {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%); }
  header .header {
    position: relative; }
  header aside {
    position: absolute;
    width: 100%;
    margin-top: -1px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: .2s all ease; }
    header aside.open {
      opacity: 1; }
  @media (max-width: 767px) {
    header {
      position: fixed;
      width: 100%;
      border-bottom: 1px solid #231f20; } }

.top-bar-header {
  text-transform: uppercase;
  font-size: .625em;
  letter-spacing: .1em; }
  .top-bar-header .subscribe-btn {
    text-align: left; }
    .top-bar-header .subscribe-btn a {
      color: #fff;
      background: #6a6565;
      padding: 1em 2em;
      font-weight: 700;
      display: inline-block; }
  .top-bar-header .date {
    text-align: center; }
  .top-bar-header .login-links {
    text-align: right; }
  .top-bar-header .date, .top-bar-header .login-links {
    padding-top: 1em;
    padding-bottom: 1em; }

.middle-bar-header {
  position: relative;
  font-size: .8125em;
  letter-spacing: .025em; }
  .middle-bar-header .desktop-logo {
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    .middle-bar-header .desktop-logo a {
      display: block;
      text-align: center; }
      .middle-bar-header .desktop-logo a img {
        width: 100%; }
        @media (min-width: 992px) {
          .middle-bar-header .desktop-logo a img {
            width: 75%; } }
  .middle-bar-header .temp-cont, .middle-bar-header .top-screen-search {
    position: static; }
  .middle-bar-header .temp, .middle-bar-header .search-click {
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
  .middle-bar-header .search-click {
    left: auto;
    right: 15px; }
    .middle-bar-header .search-click span {
      padding-left: .3em; }
    .middle-bar-header .search-click img {
      width: 1em; }

.bottom-bar-header {
  position: relative;
  font-size: .6875em; }
  .bottom-bar-header .scroll-logo {
    position: absolute;
    display: block;
    height: 100%;
    width: 2em;
    height: 2em;
    padding: 1.2em 0;
    opacity: 0;
    transition: .3s all ease;
    pointer-events: none; }
    .bottom-bar-header .scroll-logo img {
      width: 100%; }
    .bottom-bar-header .scroll-logo.scrolled {
      opacity: 1;
      pointer-events: auto; }
    @media (max-width: 767px) {
      .bottom-bar-header .scroll-logo {
        opacity: 1;
        pointer-events: auto;
        width: 2.72em;
        padding-top: 1.2em;
        padding-bottom: 1.2em; } }
  .bottom-bar-header .search-scrolled {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.2em;
    letter-spacing: .025em;
    opacity: 0;
    transition: .3s all ease;
    pointer-events: none; }
    .bottom-bar-header .search-scrolled span {
      padding-left: .3em; }
    .bottom-bar-header .search-scrolled img {
      width: 1em; }
    .bottom-bar-header .search-scrolled.scrolled {
      opacity: 1;
      pointer-events: auto; }
  .bottom-bar-header .hamburger-btn {
    float: right;
    height: 2em;
    width: 2.36em;
    position: relative;
    margin: 1.1em 0; }
    .bottom-bar-header .hamburger-btn .bar {
      display: block;
      width: 100%;
      height: 2px;
      background: #231f20;
      position: absolute;
      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
      transition: .2s all ease; }
      .bottom-bar-header .hamburger-btn .bar.top-bar {
        top: 2px; }
      .bottom-bar-header .hamburger-btn .bar.middle-bar {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%); }
      .bottom-bar-header .hamburger-btn .bar.bottom-bar {
        bottom: 2px; }
    .bottom-bar-header .hamburger-btn.clicked .top-bar {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%); }
    .bottom-bar-header .hamburger-btn.clicked .bottom-bar {
      bottom: 50%;
      -webkit-transform: translateY(50%);
      -moz-transform: translateY(50%);
      transform: translateY(50%); }
    .bottom-bar-header .hamburger-btn.active .top-bar {
      top: 50%;
      -webkit-transform: rotate(45deg) translateY(-50%);
      -moz-transform: rotate(45deg) translateY(-50%);
      transform: rotate(45deg) translateY(-50%); }
    .bottom-bar-header .hamburger-btn.active .middle-bar {
      display: none; }
    .bottom-bar-header .hamburger-btn.active .bottom-bar {
      bottom: 50%;
      -webkit-transform: rotate(-45deg) translateY(50%);
      -moz-transform: rotate(-45deg) translateY(50%);
      transform: rotate(-45deg) translateY(50%); }
  .bottom-bar-header ul {
    padding-left: 0;
    text-align: center;
    margin: 0;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase; }
    .bottom-bar-header ul li {
      list-style: none;
      display: inline-block;
      cursor: pointer;
      transition: .2s all ease;
      padding: 1.2em; }
      .bottom-bar-header ul li:hover.news-link {
        color: #ff8b8b; }
      .bottom-bar-header ul li:hover.sport-link {
        color: #22dbbc; }
      .bottom-bar-header ul li:hover.business-link {
        color: #51b6ff; }
      .bottom-bar-header ul li:hover.opinion-link {
        color: #ffcd57; }
      .bottom-bar-header ul li:hover.life-link {
        color: #ffa651; }
      .bottom-bar-header ul li:hover.culture-link {
        color: #bd92f8; }
  @media (min-width: 768px) {
    .bottom-bar-header {
      border-bottom: 1px solid #231f20; } }

.mobile-menu {
  position: fixed;
  width: 90%;
  background: #fff;
  height: 100%;
  z-index: 1;
  border-right: 1px solid #231f20;
  top: 0;
  left: -100%;
  -webkit-box-shadow: 5px 0px 8.8px 1.2px rgba(229, 229, 229, 0.6);
  -moz-box-shadow: 5px 0px 8.8px 1.2px rgba(229, 229, 229, 0.6);
  box-shadow: 5px 0px 8.8px 1.2px rgba(229, 229, 229, 0.6);
  transition: left .3s ease;
  padding: 50px 15px 0; }
  .mobile-menu .date {
    font-size: .625em;
    text-transform: uppercase;
    padding: 3.5em 0 2em; }
  .mobile-menu .bottom-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: .8125em;
    text-transform: uppercase; }
    .mobile-menu .bottom-links .login-links, .mobile-menu .bottom-links .subscribe-link {
      padding: 1em 15px; }
    .mobile-menu .bottom-links .subscribe-link {
      background: #6a6565;
      color: #fff; }
  .mobile-menu .mobile-nav ul {
    padding-left: 0; }
    .mobile-menu .mobile-nav ul li {
      list-style: none;
      font-size: 1em;
      line-height: 2.125em;
      text-transform: uppercase;
      position: relative; }
      .mobile-menu .mobile-nav ul li span {
        display: inline-block; }
      .mobile-menu .mobile-nav ul li .mobile-dash {
        width: .8em;
        height: 1px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      .mobile-menu .mobile-nav ul li .mobile-link {
        padding-left: 1.4em; }
  .mobile-menu.open {
    left: 0; }

.dropdown {
  color: #fff;
  background-clip: content-box !important;
  opacity: 0;
  pointer-events: none;
  transition: .2s all ease; }
  .dropdown.open {
    opacity: 1;
    pointer-events: auto; }
  .dropdown .dropdown-row {
    padding-top: 3.4375em;
    opacity: 0;
    pointer-events: none;
    transition: .2s all ease; }
    .dropdown .dropdown-row.open {
      opacity: 1;
      pointer-events: auto; }
  .dropdown h2 {
    font-size: .75em;
    color: #fff;
    border-color: #fff;
    margin-bottom: 2em; }
    .dropdown h2.category-header {
      margin-bottom: 1em;
      margin-top: 3em; }
  .dropdown h5 {
    color: #e3e3e3;
    margin: 1em 0 3em; }
  .dropdown ul {
    padding-left: 0;
    margin-bottom: 3em; }
    .dropdown ul li {
      display: inline-block;
      padding-right: 2em;
      font-size: .625em;
      list-style: none;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1em; }

main {
  margin-bottom: 8em; }
  @media (max-width: 767px) {
    main {
      padding-top: 50px; } }

.main-stories {
  text-align: center;
  padding-top: 6em;
  padding-bottom: 10em;
  position: relative; }
  .main-stories .row {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-wrap: wrap; }
  .main-stories h2 {
    border: none;
    font-size: 1em;
    margin-top: 2em; }
  .main-stories a {
    font-size: .625em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    border: 1px solid;
    padding: .8em 2.4em;
    display: inline-block; }
  @media (max-width: 767px) {
    .main-stories {
      padding-top: 4em;
      padding-bottom: 7em; }
      .main-stories h1 {
        margin-top: .6em; }
      .main-stories h2 {
        font-size: .875em;
        margin-top: 2.4em; }
      .main-stories a {
        margin-top: 1em; } }
  .main-stories .main-story {
    display: none;
    opacity: 0;
    transition: .4s all ease; }
    .main-stories .main-story.fade-out {
      opacity: 0; }
    .main-stories .main-story.active {
      display: block; }
    .main-stories .main-story.fade-in {
      opacity: 1; }
  .main-stories .main-story-links ul, .main-stories .main-story-links-mobile ul {
    padding-left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: calc(100% - 30px); }
    .main-stories .main-story-links ul li, .main-stories .main-story-links-mobile ul li {
      font-size: .75em;
      list-style: none;
      cursor: pointer;
      line-height: 2.4em;
      color: #999;
      transition: .2s all ease; }
      @media (max-width: 992px) {
        .main-stories .main-story-links ul li, .main-stories .main-story-links-mobile ul li {
          display: inline-block;
          font-size: 11px;
          padding: 0 .6em; } }
    .main-stories .main-story-links ul span, .main-stories .main-story-links-mobile ul span {
      display: inline-block;
      vertical-align: middle; }
    .main-stories .main-story-links ul .outer-circle, .main-stories .main-story-links-mobile ul .outer-circle {
      width: 1em;
      height: 1em;
      border: 1px solid #e3e3e3;
      border-radius: 1em;
      position: relative;
      overflow: hidden;
      margin-right: .3em;
      transition: .1s all ease; }
      @media (max-width: 992px) {
        .main-stories .main-story-links ul .outer-circle, .main-stories .main-story-links-mobile ul .outer-circle {
          margin: 0; } }
      .main-stories .main-story-links ul .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul .outer-circle .inner-circle {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        display: block;
        transition: .2s all ease; }
    .main-stories .main-story-links ul .main-story-title, .main-stories .main-story-links-mobile ul .main-story-title {
      width: -webkit-calc(100% - (1.8em + 2px));
      width: -moz-calc(100% - (1.8em + 2px));
      width: calc(100% - (1.8em + 2px));
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .main-stories .main-story-links ul li.active .inner-circle, .main-stories .main-story-links-mobile ul li.active .inner-circle {
      opacity: 1; }
    .main-stories .main-story-links ul li.active.news, .main-stories .main-story-links ul li:hover.news, .main-stories .main-story-links-mobile ul li.active.news, .main-stories .main-story-links-mobile ul li:hover.news {
      color: #ff8b8b; }
      .main-stories .main-story-links ul li.active.news .outer-circle, .main-stories .main-story-links ul li:hover.news .outer-circle, .main-stories .main-story-links-mobile ul li.active.news .outer-circle, .main-stories .main-story-links-mobile ul li:hover.news .outer-circle {
        border-color: #ff8b8b; }
        .main-stories .main-story-links ul li.active.news .outer-circle .inner-circle, .main-stories .main-story-links ul li:hover.news .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li.active.news .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li:hover.news .outer-circle .inner-circle {
          background: #ff8b8b; }
    .main-stories .main-story-links ul li.active.sport, .main-stories .main-story-links ul li:hover.sport, .main-stories .main-story-links-mobile ul li.active.sport, .main-stories .main-story-links-mobile ul li:hover.sport {
      color: #22dbbc; }
      .main-stories .main-story-links ul li.active.sport .outer-circle, .main-stories .main-story-links ul li:hover.sport .outer-circle, .main-stories .main-story-links-mobile ul li.active.sport .outer-circle, .main-stories .main-story-links-mobile ul li:hover.sport .outer-circle {
        border-color: #22dbbc; }
        .main-stories .main-story-links ul li.active.sport .outer-circle .inner-circle, .main-stories .main-story-links ul li:hover.sport .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li.active.sport .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li:hover.sport .outer-circle .inner-circle {
          background: #22dbbc; }
    .main-stories .main-story-links ul li.active.business, .main-stories .main-story-links ul li:hover.business, .main-stories .main-story-links-mobile ul li.active.business, .main-stories .main-story-links-mobile ul li:hover.business {
      color: #51b6ff; }
      .main-stories .main-story-links ul li.active.business .outer-circle, .main-stories .main-story-links ul li:hover.business .outer-circle, .main-stories .main-story-links-mobile ul li.active.business .outer-circle, .main-stories .main-story-links-mobile ul li:hover.business .outer-circle {
        border-color: #51b6ff; }
        .main-stories .main-story-links ul li.active.business .outer-circle .inner-circle, .main-stories .main-story-links ul li:hover.business .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li.active.business .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li:hover.business .outer-circle .inner-circle {
          background: #51b6ff; }
    .main-stories .main-story-links ul li.active.opinion, .main-stories .main-story-links ul li:hover.opinion, .main-stories .main-story-links-mobile ul li.active.opinion, .main-stories .main-story-links-mobile ul li:hover.opinion {
      color: #ffcd57; }
      .main-stories .main-story-links ul li.active.opinion .outer-circle, .main-stories .main-story-links ul li:hover.opinion .outer-circle, .main-stories .main-story-links-mobile ul li.active.opinion .outer-circle, .main-stories .main-story-links-mobile ul li:hover.opinion .outer-circle {
        border-color: #ffcd57; }
        .main-stories .main-story-links ul li.active.opinion .outer-circle .inner-circle, .main-stories .main-story-links ul li:hover.opinion .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li.active.opinion .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li:hover.opinion .outer-circle .inner-circle {
          background: #ffcd57; }
    .main-stories .main-story-links ul li.active.life, .main-stories .main-story-links ul li:hover.life, .main-stories .main-story-links-mobile ul li.active.life, .main-stories .main-story-links-mobile ul li:hover.life {
      color: #ffa651; }
      .main-stories .main-story-links ul li.active.life .outer-circle, .main-stories .main-story-links ul li:hover.life .outer-circle, .main-stories .main-story-links-mobile ul li.active.life .outer-circle, .main-stories .main-story-links-mobile ul li:hover.life .outer-circle {
        border-color: #ffa651; }
        .main-stories .main-story-links ul li.active.life .outer-circle .inner-circle, .main-stories .main-story-links ul li:hover.life .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li.active.life .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li:hover.life .outer-circle .inner-circle {
          background: #ffa651; }
    .main-stories .main-story-links ul li.active.culture, .main-stories .main-story-links ul li:hover.culture, .main-stories .main-story-links-mobile ul li.active.culture, .main-stories .main-story-links-mobile ul li:hover.culture {
      color: #bd92f8; }
      .main-stories .main-story-links ul li.active.culture .outer-circle, .main-stories .main-story-links ul li:hover.culture .outer-circle, .main-stories .main-story-links-mobile ul li.active.culture .outer-circle, .main-stories .main-story-links-mobile ul li:hover.culture .outer-circle {
        border-color: #bd92f8; }
        .main-stories .main-story-links ul li.active.culture .outer-circle .inner-circle, .main-stories .main-story-links ul li:hover.culture .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li.active.culture .outer-circle .inner-circle, .main-stories .main-story-links-mobile ul li:hover.culture .outer-circle .inner-circle {
          background: #bd92f8; }

.main-story-arrows {
  margin-top: 3em;
  position: relative; }

.main-story-links-mobile {
  position: absolute;
  width: 100%;
  top: 50%;
  pointer-events: none; }

.left-arrow {
  float: left; }

.right-arrow {
  float: right; }

.latest-news {
  padding-bottom: 8em; }
  .latest-news h3 {
    font-size: 1.625em;
    font-family: 'Crimson Text', serif;
    line-height: 1.346em;
    margin-top: 2.4em; }
    .latest-news h3 span {
      border-bottom: 1px solid;
      cursor: pointer;
      padding-bottom: .1em; }
      .latest-news h3 span:hover {
        border-color: #231f20 !important; }
    @media (max-width: 768px) {
      .latest-news h3 {
        font-size: 1.3125em;
        line-height: 1.476em;
        margin-top: 1.8em; } }
  @media (max-width: 768px) {
    .latest-news {
      padding-bottom: 4em; }
      .latest-news .col-sm-6 {
        width: 90%;
        margin-left: auto;
        margin-right: auto; } }

.category-news h2 {
  margin-bottom: 2.4em;
  margin-top: 2.4em; }
.category-news .cat-cont {
  margin-bottom: 4em; }
.category-news .cat-article {
  margin-bottom: 1.5em; }
  .category-news .cat-article h5 {
    margin: 1em 0; }
  @media (max-width: 767px) {
    .category-news .cat-article {
      width: 90%;
      margin-left: auto;
      margin-right: auto; } }

.most-read-cont {
  background: #6a6565;
  background-clip: content-box;
  color: #fff; }
  .most-read-cont h2 {
    color: #fff;
    border-color: #fff; }
    .most-read-cont h2 span span {
      background: #6a6565; }
  .most-read-cont h5 {
    margin: 1em 0; }
  .most-read-cont .most-read-inner {
    padding-left: 15px;
    padding-right: 15px; }
  .most-read-cont .read-article {
    margin-bottom: 1.5em; }
  .most-read-cont .read-article div {
    display: inline-block;
    vertical-align: top; }
  .most-read-cont .read-num {
    width: 1.5em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700; }
  .most-read-cont .read-title {
    width: -webkit-calc(100% - 2em);
    width: -moz-calc(100% - 2em);
    width: calc(100% - 2em); }
  @media (max-width: 992px) {
    .most-read-cont {
      padding-top: 2.4em; } }

.news-text {
  color: #ff8b8b; }

.sport-text {
  color: #22dbbc; }

.business-text {
  color: #51b6ff; }

.opinion-text {
  color: #ffcd57; }

.life-text {
  color: #ffa651; }

.culture-text {
  color: #bd92f8; }

.news-bg {
  background: #ff6f6f; }

.sport-bg {
  background: #06d6b3; }

.business-bg {
  background: #3badff; }

.opinion-bg {
  background: #ffc741; }

.life-bg {
  background: #ff9b3b; }

.culture-bg {
  background: #b484f7; }

.more-bg {
  background: #231f20; }

.news-under {
  border-color: #ff6f6f !important; }

.sport-under {
  border-color: #06d6b3 !important; }

.business-under {
  border-color: #3badff !important; }

.opinion-under {
  border-color: #ffc741 !important; }

.life-under {
  border-color: #ff9b3b !important; }

.culture-under {
  border-color: #b484f7 !important; }

/*# sourceMappingURL=style.css.map */
