html, body {
  font-size: 15px;
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: relative;
  background: #fff;
  color: #2e2e2e;
  letter-spacing: .02em;
  font-family: 'Nunito', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 1600px) {
    html, body {
      font-size: 20px; } }
  @media (min-width: 2000px) {
    html, body {
      font-size: 25px; } }
  @media (max-width: 767px) {
    html, body {
      min-height: 0; } }

@media (min-width: 768px) {
  .container {
    width: 690px; } }
@media (min-width: 992px) {
  .container {
    width: 910px; } }
@media (min-width: 1200px) {
  .container {
    width: 1110px; } }
@media (min-width: 1600px) {
  .container {
    width: 1470px; } }
@media (min-width: 2000px) {
  .container {
    width: 1770px; } }

h1, h2, h3, h4 {
  font-size: 1em;
  line-height: 1em;
  margin: 0; }

a, a:hover, a:visited, a:link, a:active {
  color: #2e2e2e;
  text-decoration: none; }

a span {
  display: inline-block; }

a span.arrow {
  position: relative;
  width: 1.3em;
  height: 0.6em;
  overflow: hidden;
  margin-left: .6em; }

a span img {
  position: absolute;
  transition: .4s all ease; }
  a span img:first-of-type {
    left: -300%; }
  a span img:last-of-type {
    left: 0; }

a:hover span img:first-of-type {
  left: 0; }
a:hover span img:last-of-type {
  left: 300%; }

.gif-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: #fff; }
  .gif-loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.menu-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background: #2e2e2e;
  z-index: 10;
  transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1); }
  .menu-overlay.active {
    pointer-events: auto;
    opacity: .6; }
  @media (max-width: 991px) {
    .menu-overlay {
      height: calc(100% - 2em);
      top: 3em;
      left: 5em; }
      .menu-overlay.active {
        left: 50%; } }

.slide-menu {
  position: fixed;
  width: 50%;
  height: 100%;
  background: #2e2e2e;
  left: -50%;
  transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 11;
  padding: 2em;
  color: #fff; }
  .slide-menu.active {
    left: 0; }
  .slide-menu a img {
    width: 2em;
    margin: 0; }
  .slide-menu nav {
    margin-top: 6em; }
  .slide-menu ul {
    font-size: 1.06666666em;
    padding-left: 0; }
    .slide-menu ul li {
      list-style: none;
      line-height: 1.625em; }
      .slide-menu ul li a {
        color: #fff; }
      .slide-menu ul li.heading {
        color: #888888; }
      .slide-menu ul li.separator {
        display: block;
        height: 1px;
        width: 1.0666em;
        margin: 2em 0;
        background: #fff; }
  @media (max-width: 991px) {
    .slide-menu {
      background: #fff;
      width: 100%;
      left: auto;
      top: -100%;
      text-align: center;
      color: #2e2e2e;
      padding: 0; }
      .slide-menu ul {
        position: absolute;
        top: 50%;
        width: 100%;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
      .slide-menu ul li a {
        color: #2e2e2e; }
      .slide-menu ul li.separator {
        background: #b4b4b4;
        margin: 1em auto; }
      .slide-menu.active {
        top: 0; } }

main {
  width: 100%;
  height: 100%;
  padding: 2em;
  margin-left: 0;
  transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1); }
  @media (min-width: 991px) {
    main.menu-active {
      margin-left: 50%; } }
  @media (max-width: 991px) {
    main {
      padding: 3em 2em 2em; } }
  @media (max-width: 767px) {
    main {
      padding: 3em 1em 0; } }

.main-container {
  width: 100%;
  height: 100%;
  position: relative; }
  @media (max-width: 991px) {
    .main-container {
      overflow: hidden; } }

.left-column, .right-column {
  position: absolute;
  height: 100%; }

.left-column {
  width: -webkit-calc(20% - 1em);
  width: calc(20% - 1em);
  top: 0;
  left: 0; }
  @media (max-width: 1100px) {
    .left-column {
      width: -webkit-calc(22% - 1em);
      width: calc(22% - 1em); } }
  @media (max-width: 991px) {
    .left-column {
      width: -webkit-calc(50% - 5em);
      width: calc(50% - 5em);
      left: -webkit-calc(5em - 50%);
      left: calc(5em - 50%);
      transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1); }
      .left-column.show {
        left: 0; } }
  @media (max-width: 767px) {
    .left-column {
      width: 100%;
      left: 0; }
      .left-column.show {
        left: 0;
        top: -100%; } }

.menu-button {
  height: 2em;
  width: 2em;
  position: relative;
  cursor: pointer; }
  .menu-button .bar {
    display: block;
    width: 1em;
    height: 2px;
    background: #2e2e2e;
    position: absolute;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    transition: .2s all ease; }
    .menu-button .bar.top-bar {
      top: .666666666em; }
    .menu-button .bar.middle-bar {
      top: 50%;
      width: 0.8em;
      left: 0;
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .menu-button .bar.bottom-bar {
      bottom: .666666666em; }
  .menu-button.active .middle-bar, .menu-button:hover .middle-bar {
    left: -webkit-calc(100% - 1.8em);
    left: calc(100% - 1.8em); }

.small-header {
  position: fixed;
  z-index: 13;
  background: #fff;
  width: 100%;
  height: 3em; }
  .small-header .menu-button {
    position: absolute;
    top: 50%;
    left: 2em;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    @media (max-width: 767px) {
      .small-header .menu-button {
        left: 1em; } }
  .small-header .logo {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .small-header .logo img {
      width: 1.8em; }

.profile-image {
  display: block;
  width: 100%;
  height: -webkit-calc(50% - 4em);
  height: calc(50% - 4em);
  background: url("../images/profile-2.jpg") no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }
  @media (max-width: 767px) {
    .profile-image {
      height: 50%; } }

.home-about {
  position: relative;
  padding-top: 2em;
  height: -webkit-calc(50% + 2em);
  height: calc(50% + 2em); }
  .home-about h1 {
    font-size: 1.0666em;
    line-height: 1.1875em; }
  .home-about h2 {
    font-size: 0.8em;
    color: #b4b4b4; }
  .home-about p {
    font-size: .8em;
    line-height: 1.5em;
    padding-left: 3em;
    margin-top: 1em; }
  .home-about .separator {
    display: block;
    height: 1px;
    width: 1.0666em;
    background: #2e2e2e;
    margin: 1em 0; }
  .home-about .links {
    position: absolute;
    bottom: 0;
    height: 2em;
    width: 100%; }
    .home-about .links .links-inner {
      position: relative;
      height: 100%; }
      .home-about .links .links-inner a {
        width: 100%;
        display: block;
        position: absolute;
        top: 50%;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%); }
        .home-about .links .links-inner a span {
          font-size: 0.8em; }
    .home-about .links .links-mobile {
      font-size: 0.8em; }
    @media (max-width: 991px) {
      .home-about .links {
        height: auto;
        bottom: 1em; }
        .home-about .links .links-inner a {
          position: relative;
          top: auto;
          -moz-transform: none;
          -o-transform: none;
          -ms-transform: none;
          -webkit-transform: none;
          transform: none; } }
  @media (max-width: 991px) {
    .home-about {
      height: -webkit-calc(50% + 4em);
      height: calc(50% + 4em); } }
  @media (max-width: 767px) {
    .home-about {
      height: 50%;
      padding-top: 0; }
      .home-about h1 {
        padding: 1em 0 0.5em; } }

.middle-column {
  width: 5em;
  position: absolute;
  height: 100%;
  left: 0;
  transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1); }
  .middle-column .middle-column-inner {
    position: relative;
    width: 100%;
    height: 100%; }
  .middle-column .tablet-switch {
    position: absolute;
    top: 50%;
    -moz-transform: rotate(90deg) translateX(-50%);
    -o-transform: rotate(90deg) translateX(-50%);
    -ms-transform: rotate(90deg) translateX(-50%);
    -webkit-transform: rotate(90deg) translateX(-50%);
    transform: rotate(90deg) translateX(-50%);
    -moz-transform-origin: bottom left;
    -o-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    height: 1.1em;
    width: 6em;
    overflow: hidden; }
    .middle-column .tablet-switch span {
      position: absolute;
      width: 100%;
      text-align: center;
      transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1); }
      .middle-column .tablet-switch span:first-of-type {
        top: 0; }
      .middle-column .tablet-switch span:last-of-type {
        top: 150%; }
  .middle-column.show {
    left: calc(50% - 3em); }
    .middle-column.show .tablet-switch span:first-of-type {
      top: -150%; }
    .middle-column.show .tablet-switch span:last-of-type {
      top: 0; }

.right-column {
  width: -webkit-calc(80% - 1em);
  width: calc(80% - 1em);
  right: 0;
  overflow: hidden; }
  @media (max-width: 1100px) {
    .right-column {
      width: -webkit-calc(78% - 1em);
      width: calc(78% - 1em); } }
  @media (max-width: 991px) {
    .right-column {
      right: auto;
      left: 5em;
      width: -webkit-calc(100% - 5em);
      width: calc(100% - 5em);
      height: -webkit-calc(100% - 2em);
      height: calc(100% - 2em);
      top: 2em;
      transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1); }
      .right-column.show {
        left: -webkit-calc(50% + 2em);
        left: calc(50% + 2em); } }
  @media (max-width: 767px) {
    .right-column {
      width: 100%;
      left: 0;
      top: 100%;
      height: calc(100% - 1em); }
      .right-column.show {
        left: 0;
        top: 0%; } }

.social-links {
  height: 2.666666em;
  background: #fff;
  position: absolute;
  top: 2em;
  right: 4.8em;
  z-index: 1;
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }
  .social-links ul {
    font-size: .8em;
    color: #b4b4b4;
    padding-left: 0;
    margin: 0;
    padding: 1em 1em; }
    .social-links ul li {
      list-style: none;
      display: inline-block;
      margin: 0 0.83333em; }
      .social-links ul li.separator {
        height: 1px;
        width: 1.0666em;
        background: #b4b4b4;
        vertical-align: middle; }
    .social-links ul a {
      color: #b4b4b4; }

.main-image-area {
  height: 100%;
  position: relative; }
  .main-image-area .image-slider {
    height: -webkit-calc(100% - 2em);
    height: calc(100% - 2em);
    position: absolute;
    transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
    left: 0;
    opacity: 0;
    pointer-events: none; }
    .main-image-area .image-slider.show {
      opacity: 1;
      pointer-events: auto; }
    .main-image-area .image-slider .project {
      height: 100%;
      float: left;
      background-repeat: no-repeat;
      background-position: center center;
      -moz-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover; }
    @media (max-width: 991px) {
      .main-image-area .image-slider {
        height: 75%; } }
    @media (max-width: 767px) {
      .main-image-area .image-slider {
        height: 100%; } }
  .main-image-area .image-scroller {
    position: absolute;
    width: -webkit-calc(100% - 5em);
    width: calc(100% - 5em);
    height: -webkit-calc(100% - 2em);
    height: calc(100% - 2em);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    overflow-y: scroll;
    transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1); }
    .main-image-area .image-scroller::-webkit-scrollbar {
      display: none; }
    .main-image-area .image-scroller::-webkit-scrollbar-track {
      display: none; }
    .main-image-area .image-scroller::-webkit-scrollbar-thumb {
      display: none; }
    .main-image-area .image-scroller.show {
      opacity: 1;
      pointer-events: auto; }
    .main-image-area .image-scroller .scroll-row {
      position: relative;
      padding-bottom: 60%;
      margin-bottom: 2em; }
      .main-image-area .image-scroller .scroll-row .project {
        width: -webkit-calc(50% - 1em) !important;
        width: calc(50% - 1em) !important;
        background-repeat: no-repeat;
        background-position: center center;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute; }
        .main-image-area .image-scroller .scroll-row .project .project-info-cont {
          background: #fff;
          width: -webkit-calc(100% - 2em);
          width: calc(100% - 2em);
          height: -webkit-calc(100% - 2em);
          height: calc(100% - 2em);
          top: 1em;
          left: 1em;
          position: absolute;
          padding: 2em 1em;
          opacity: 0;
          transition: .3s all ease; }
          .main-image-area .image-scroller .scroll-row .project .project-info-cont:hover {
            opacity: 1; }
        .main-image-area .image-scroller .scroll-row .project h2 {
          font-size: 1.0666em;
          margin-bottom: 0.6666666em; }
        .main-image-area .image-scroller .scroll-row .project h3 {
          font-size: 0.8em;
          color: #b4b4b4;
          margin-bottom: 2em; }
        .main-image-area .image-scroller .scroll-row .project p {
          display: none; }
        .main-image-area .image-scroller .scroll-row .project a {
          position: absolute;
          bottom: 1em; }
        .main-image-area .image-scroller .scroll-row .project a span {
          font-size: 0.8em; }
      .main-image-area .image-scroller .scroll-row:nth-child(odd) .project:nth-child(1) {
        top: 50%;
        left: 0;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding-bottom: 30%; }
      .main-image-area .image-scroller .scroll-row:nth-child(odd) .project:nth-child(2) {
        right: 0;
        top: 0;
        padding-bottom: 60%; }
      .main-image-area .image-scroller .scroll-row:nth-child(even) .project:nth-child(1) {
        left: 0;
        top: 0;
        padding-bottom: 60%; }
      .main-image-area .image-scroller .scroll-row:nth-child(even) .project:nth-child(2) {
        top: 50%;
        right: 0;
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        padding-bottom: 30%; }
  @media (max-width: 767px) {
    .main-image-area {
      height: calc(100% - 2em); } }

.slider-details {
  position: absolute;
  width: 23.5%;
  height: -webkit-calc(100% - 6em);
  height: calc(100% - 6em);
  background: #fff;
  top: 2em;
  left: 2em;
  padding: 1em;
  opacity: 0;
  pointer-events: none;
  transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1); }
  .slider-details.show {
    opacity: 1;
    pointer-events: auto; }
  .slider-details .project-info-cont {
    position: absolute;
    width: -webkit-calc(100% - 2em);
    width: calc(100% - 2em);
    bottom: 1em; }
    .slider-details .project-info-cont .project-info {
      left: 0;
      bottom: 1em;
      transition: all 1200ms cubic-bezier(0.77, 0, 0.175, 1);
      z-index: 1;
      position: absolute;
      width: 100%;
      pointer-events: none;
      opacity: 0; }
      .slider-details .project-info-cont .project-info:first-of-type {
        position: relative; }
      .slider-details .project-info-cont .project-info.active {
        opacity: 1;
        pointer-events: auto; }
      .slider-details .project-info-cont .project-info.type-trans {
        bottom: 0; }
      .slider-details .project-info-cont .project-info h2 {
        font-size: 1.0666em;
        margin-bottom: 0.6666666em; }
        @media (max-width: 767px) {
          .slider-details .project-info-cont .project-info h2 {
            margin-bottom: 0.3em; } }
      .slider-details .project-info-cont .project-info h3 {
        font-size: 0.8em;
        color: #b4b4b4;
        margin-bottom: 2em; }
      .slider-details .project-info-cont .project-info p {
        font-size: 0.8em;
        line-height: 1.5em;
        margin-bottom: 4.466666666em; }
      .slider-details .project-info-cont .project-info a span {
        font-size: 0.8em; }
  @media (max-width: 1100px) {
    .slider-details {
      width: 31.2%; } }
  @media (max-width: 991px) {
    .slider-details {
      height: 25%;
      width: 100%;
      left: 0;
      top: auto;
      bottom: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 2em; }
      .slider-details .project-info-cont {
        height: -webkit-calc(100% - 3em);
        height: calc(100% - 3em);
        width: 50%;
        width: -webkit-calc(50% - 1em);
        width: calc(50% - 1em);
        float: left;
        bottom: auto; }
        .slider-details .project-info-cont .project-info-inner-cont {
          height: 100%; }
        .slider-details .project-info-cont .project-info {
          height: 100%; }
          .slider-details .project-info-cont .project-info p {
            display: none; }
          .slider-details .project-info-cont .project-info a {
            position: absolute;
            bottom: 0; } }
        @media (max-width: 991px) and (max-width: 767px) {
          .slider-details .project-info-cont .project-info a {
            position: relative;
            display: block; } }

  @media (max-width: 767px) {
    .slider-details {
      width: calc(100% - 2em);
      left: 1em;
      bottom: 1em;
      padding: 1em 1em;
      text-align: center;
      height: 7em; }
      .slider-details .project-info-cont {
        width: -webkit-calc(100% - 2em);
        width: calc(100% - 2em);
        height: auto; } }

.slide-circles ul {
  padding-left: 0;
  line-height: 0;
  margin: 0; }
  .slide-circles ul li {
    display: inline-block;
    width: 0.46666666em;
    height: 0.46666666em;
    border: 1px solid #2e2e2e;
    border-radius: 1em;
    margin-right: .3em; }
    .slide-circles ul li.active {
      background: #2e2e2e; }
@media (max-width: 991px) {
  .slide-circles {
    width: 50%;
    float: right;
    position: relative;
    width: -webkit-calc(50% - 1em);
    width: calc(50% - 1em); }
    .slide-circles ul {
      text-align: center; } }
@media (max-width: 767px) {
  .slide-circles {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }

.image-slider-controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: #fff;
  height: 2em; }
  .image-slider-controls .view-btn {
    position: absolute;
    height: 1em;
    width: 1em;
    top: 50%;
    left: 50%;
    cursor: pointer;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .image-slider-controls .view-btn .inner-view-btn {
      width: 100%;
      height: 100%;
      position: relative; }
    .image-slider-controls .view-btn span {
      position: absolute;
      background: #2e2e2e;
      width: 0.4em;
      height: 0.4em;
      transition: .6s all ease-in; }
      .image-slider-controls .view-btn span.top-left {
        left: 0;
        top: 0; }
      .image-slider-controls .view-btn span.top-right {
        right: 0;
        top: 0; }
      .image-slider-controls .view-btn span.bottom-left {
        left: 0;
        bottom: 0; }
      .image-slider-controls .view-btn span.bottom-right {
        right: 0;
        bottom: 0; }
    .image-slider-controls .view-btn.full-view span {
      width: 100%;
      height: 100%; }

.left-slide-arrow, .right-slide-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: 1.0666666em;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  .left-slide-arrow .arrow, .right-slide-arrow .arrow {
    position: relative;
    width: 1.3em;
    height: 0.6em;
    overflow: hidden;
    display: block; }
  .left-slide-arrow .arrow img, .right-slide-arrow .arrow img {
    position: absolute;
    transition: .4s all ease; }
    .left-slide-arrow .arrow img:first-of-type, .right-slide-arrow .arrow img:first-of-type {
      left: -300%; }
    .left-slide-arrow .arrow img:last-of-type, .right-slide-arrow .arrow img:last-of-type {
      left: 0; }
  .left-slide-arrow:hover img:first-of-type, .right-slide-arrow:hover img:first-of-type {
    left: 0; }
  .left-slide-arrow:hover img:last-of-type, .right-slide-arrow:hover img:last-of-type {
    left: 300%; }

.left-slide-arrow, .arrow-home-link {
  left: 0; }
  .left-slide-arrow .arrow img, .arrow-home-link .arrow img {
    position: absolute;
    transition: .4s all ease; }
    .left-slide-arrow .arrow img:first-of-type, .arrow-home-link .arrow img:first-of-type {
      left: 0%; }
    .left-slide-arrow .arrow img:last-of-type, .arrow-home-link .arrow img:last-of-type {
      left: 300%; }
  .left-slide-arrow:hover img:first-of-type, .arrow-home-link:hover img:first-of-type {
    left: -300%; }
  .left-slide-arrow:hover img:last-of-type, .arrow-home-link:hover img:last-of-type {
    left: 0; }

.right-slide-arrow {
  right: 0em; }

.home-link {
  position: absolute;
  height: 6em; }

.arrow-home-link {
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 10em; }
  .arrow-home-link span {
    vertical-align: middle; }
  .arrow-home-link .arrow {
    margin-left: 0;
    margin-right: 0; }
  .arrow-home-link .text-link {
    font-size: .8em; }
  .arrow-home-link .link-cont {
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  transition: 1s 0.4s; }

#progress {
  height: 3px;
  background: #2e2e2e;
  position: absolute;
  width: 0;
  top: 0; }

.main-image {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative; }

.page-container {
  line-height: 1.5em;
  padding: 0 0 8em; }
  .page-container h1 {
    line-height: 1.5em; }
  .page-container .extra-info ul {
    padding-left: 0; }
    .page-container .extra-info ul li {
      list-style: none;
      color: #b4b4b4; }
  .page-container .row {
    margin-top: 6em; }
    .page-container .row .row {
      margin-top: 0; }
    @media (max-width: 991px) {
      .page-container .row .extra-info ul {
        margin: 0.5em 0 2em;
        font-size: .8em;
        line-height: 1.4em; } }
    @media (max-width: 767px) {
      .page-container .row {
        margin-top: 3em; }
        .page-container .row h1 {
          line-height: 1.1875em;
          padding: 1em 0 0; }
        .page-container .row.top-row {
          margin-top: 0; } }

.image-row {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  align-items: center;
  justify-content: center; }
  .image-row img {
    width: 100%;
    margin: 15px 0; }
  @media (max-width: 767px) {
    .image-row {
      display: block; } }

/*# sourceMappingURL=style.css.map */
