/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family:tahoma;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header{
	width:100%;
	text-align:center;
	background:#c40000;
	padding: 20px 0 20px;
}

#content{
	width:100%;
	background-color:#ad8234;
	text-align:center;
	color:#fff;
	font-size:20px;
	margin-bottom:50px;
	padding:20px 0 20px;
	
}

#container{
	width:1000px;
	margin:0 auto;
	position: relative;
	height: 600px;
}

#contain{
	width:506px;
	margin:0 auto;
	position: relative;
	height: 600px;
}

#kickdrum{
  position:absolute;
  top:20px;
  left:290px;
  background-image:url('kit/kickdrum.png');
  width: 420px;
  height:420px;
  
}

#snaredrum{
  position:absolute;
  top:360px;
  left:160px;
  background-image:url('kit/snare.png');
  width: 280px;
  height:280px;
  border-radius:160px;
}

#hihat{
  position:absolute;
  top:270px;
  left:0px;
  background-image:url('kit/hihat.png');
  width: 250px;
  height:250px;
  border-radius:160px;
 
}

#crashcymbal{
  position:absolute;
  top:0px;
  left:40px;
  background-image:url('kit/crash.png');
  width: 310px;
  height:310px;
  border-radius:160px;
 
}

#ridecymbal{
  position:absolute;
  top:0px;
  right:0px;
  background-image:url('kit/ride.png');
  width: 350px;
  height:350px;
  border-radius:180px;
}

#floortom{
  position:absolute;
  top:340px;
  right:140px;
  background-image:url('kit/floortom.png');
  width: 320px;
  height:320px;
  border-radius:180px;
}

#tom2{
  position:absolute;
  top:120px;
  right:270px;
  background-image:url('kit/tom2.png');
  width: 230px;
  height:230px;
  border-radius:180px;
}

#tom1{
  position:absolute;
  top:140px;
  left:280px;
  background-image:url('kit/tom1.png');
  width: 210px;
  height:210px;
  border-radius:180px;
}

.tabSlider{
	position:absolute;
  top:151px;
  left:0px;
  background-color:#c40000;
  width: 10px;
  height:410px;
  
}


#testcollision{
	position: absolute;
	width:30px;
	height:30px;
	top:150px;
	left:350px;
	background-color:green;
}

#one, #two, #three, #four, #and, #ee{
	width:28px;
	height:300px;
	border:1px solid black;
	float:left;
}

td{
border:1px solid black;
width:100px;
height:50px;
text-align:center;
vertical-align:middle;
}

#tabsheet{
	position: relative;
	top:-500px;
	margin: 0 auto;
}

.kitChoice {
	-moz-box-shadow:inset 0px 2px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 2px 0px 0px #ffffff;
	box-shadow:inset 0px 2px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:19px;
	-moz-border-radius-topleft:19px;
	border-top-left-radius:19px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:19px;
	-moz-border-radius-bottomright:19px;
	border-bottom-right-radius:19px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin-top:20px;
}
.kitChoice:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.kitChoice:active {
	position:relative;
	top:1px;
}

#menu{
	position:relative;
	text-align:center;
	top:-500px;
	margin:20px auto;
}

.menuButtons {
	-moz-box-shadow:inset 0px 2px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 2px 0px 0px #ffffff;
	box-shadow:inset 0px 2px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:19px;
	-moz-border-radius-topleft:19px;
	border-top-left-radius:19px;
	-webkit-border-top-right-radius:19px;
	-moz-border-radius-topright:19px;
	border-top-right-radius:19px;
	-webkit-border-bottom-right-radius:19px;
	-moz-border-radius-bottomright:19px;
	border-bottom-right-radius:19px;
	-webkit-border-bottom-left-radius:19px;
	-moz-border-radius-bottomleft:19px;
	border-bottom-left-radius:19px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:41px;
	line-height:41px;
	width:78px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin:10px;
}
.menuButtons:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.menuButtons:active {
	position:relative;
	top:1px;